@import url("https://fonts.googleapis.com/css?family=Oswald:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900");
.clear {
  display: block;
}
.clear:after {
  content: '';
  clear: both;
}
.float--left {
  float: left;
}
.float--right {
  float: right;
}
.text--left {
  text-align: left !important;
}
.text--center {
  text-align: center !important;
}
.text--right {
  text-align: right !important;
}
.f--oswald,
.button--color,
.title--section-2 h1,
.window__square .cover .content__center,
.dashboard .window .content h1,
.dashboard .window__square h1,
.quemsomos .content h1,
.orientacao__list__item h1,
.orientacao__list__item p,
.banner--404 .owl-carousel .item h1,
.infra__list__item p,
.infra .destaque,
.cases__bg .box .title h1,
.cases__bg .box .title h1 span,
.cases__bg .box .content p,
.cases__bg .box .content p strong,
.planos__bg .table--planos .box__close,
.planos__bg .table--planos .box h1,
.planos__bg .table--planos .one,
.multidevice .list__item .text,
.multidevice .list__item .text span,
.contact .menu-footer ul li a,
.beneficios__destaque,
.beneficios__destaque span {
  font-family: 'Oswald', sans-serif;
}
.f--lato,
.title--section h1 {
  font-family: 'Lato', sans-serif;
}
.padding--left-0 {
  padding-left: 0;
}
.padding--right-0 {
  padding-right: 0;
}
.margin--center {
  margin: 0 auto;
  display: block;
}
.margin--lr-0 {
  margin-left: 0;
  margin-right: 0;
}
.margin--left-0 {
  margin-left: 0;
}
.margin--right-0 {
  margin-right: 0;
}
.index-0 {
  z-index: 0;
}
.index-10 {
  z-index: 10;
}
.index-20 {
  z-index: 20;
}
.index-30 {
  z-index: 30;
}
.index-40 {
  z-index: 40;
}
.index-50 {
  z-index: 50;
}
.index-60 {
  z-index: 60;
}
.index-70 {
  z-index: 70;
}
.index-80 {
  z-index: 80;
}
.index-90 {
  z-index: 90;
}
.index-100 {
  z-index: 100;
}
.index-110 {
  z-index: 110;
}
.index-120 {
  z-index: 120;
}
.index-130 {
  z-index: 130;
}
.index-140 {
  z-index: 140;
}
.index-150 {
  z-index: 150;
}
.index-160 {
  z-index: 160;
}
.index-170 {
  z-index: 170;
}
.index-180 {
  z-index: 180;
}
.index-190 {
  z-index: 190;
}
.index-200 {
  z-index: 200;
}
.index-top,
.menu ul {
  z-index: 210;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1 {
  font-size: 62px;
}
.button {
  border: 0;
  outline: 0;
  box-shadow: 0;
  -webkit-box-radius: 0;
  -moz-box-radius: 0;
  -o-box-radius: 0;
  -ms-box-radius: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  -o-box-shadow: 0;
  -ms-box-shadow: 0;
  text-align: center;
  text-transform: uppercase;
}
.button--main {
  background: #0195bf;
  color: #fff;
  padding: 18px 0;
  font-weight: 600;
  font-size: 30px;
  transition: 0.3s;
  margin-top: 0;
  border-bottom: 4px solid #017fa2;
}
.button--main:hover {
  background: #0186ac;
  transition: 0.3s;
  margin-top: -10px;
  border-bottom: 4px solid #01708f;
}
.button--w-100 {
  width: 100%;
}
.button--color {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}
.button--color-esp1 {
  background: #79a8b2 !important;
}
.button--color-esp2 {
  background: #0980c4 !important;
}
.button--color-esp3 {
  background: #00d7b5 !important;
  background: -moz-linear-gradient(left, #00799a 0%, #00d7b5 100%) !important;
  background: -webkit-linear-gradient(left, #00799a 0%, #00d7b5 100%) !important;
  background: linear-gradient(to right, #00799a 0%, #00d7b5 100%) !important;
}
.owl-carousel .item {
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.owl-carousel .item__filter {
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
}
.owl-carousel .item .person {
  width: auto;
  height: 100%;
  outline: 1px solid #000;
}
.owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  display: block;
}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #666;
  background: transparent;
  margin: 5px;
  display: inline-block;
}
.owl-carousel .owl-dots .active {
  background: #666;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
}
.owl-carousel .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
}
.form input,
.form textarea {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #555 !important;
  padding: 5px 0;
  background: transparent;
}
.form textarea {
  height: 34px;
}
.form button {
  color: #fff;
  background: #18b1d3;
  width: 100%;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.form button[disabled] {
  background: #ccc;
  color: #333;
}
.form input,
.form textarea,
.form button {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.form input:active,
.form textarea:active,
.form button:active,
.form input:focus,
.form textarea:focus,
.form button:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important;
}
.form input[type=text] {
  color: #000;
}
.form input[type=email] {
  color: #000;
}
.form input[type=submit] {
  color: #000;
}
.form textarea {
  color: #000;
}
.form__item--error {
  border: 1px solid #f00;
}
.icon--connect {
  background: url("../img/icon-connect.png") no-repeat;
  width: 10px;
  height: 51px;
}
.icon--graph {
  background-image: url("../img/sprite-icons.png");
  background-repeat: no-repeat;
}
.icon--graph-business {
  background-position: 0 -4px;
  width: 68px;
  height: 68px;
}
.icon--graph-multidevices {
  background-position: -122px -3px;
  width: 63px;
  height: 69px;
}
.icon--graph-dashboard {
  background-position: -228px -5px;
  width: 75px;
  height: 66px;
}
.icon--graph-auto {
  background-position: -338px 0;
  width: 85px;
  height: 76px;
}
.icon--graph-infra {
  background-position: -452px -6px;
  width: 83px;
  height: 61px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tr td {
  text-align: center;
  border: 1px solid #000 !important;
}
.table tr .none {
  border: 0 !important;
}
.table--planos {
  background: #272c30;
  color: #fff;
}
.title--section {
  padding: 12px 0 10px;
  margin-bottom: 60px;
}
.title--section h1,
.title--section p {
  text-transform: uppercase;
}
.title--section h1 {
  font-weight: 100;
  margin: 0;
  font-size: 40px;
  font-weight: 300;
}
.title--section p {
  font-size: 15px;
  margin: 0;
}
.title--section-2 h1 {
  text-align: center;
  padding: 0 0 20px;
  font-size: 82px;
  text-transform: uppercase;
  font-weight: 400;
}
.window {
  width: 100%;
}
.window__square {
  width: 33%;
  float: left;
  position: relative;
  border: 1px solid #fff;
  cursor: pointer;
}
.window__square .cover .shadow,
.window__square .cover .content {
  opacity: 1;
  transition: 0.3s;
}
.window__square .cover .shadow {
  width: 100%;
  height: 100%;
}
.window__square .cover .content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.window__square .cover .content__center {
  position: absolute;
  color: #fff;
  font-size: 23px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  height: 92px;
  top: 50%;
  margin-top: -46px;
}
.window__square .cover .content__center img {
  margin-bottom: 6px;
}
.blank {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.wrap {
  overflow: hidden;
  transition: 0.3s;
}
.cover,
.dashboard__bg,
.quemsomos__bg,
.orientacao__bg,
.planos__bg {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}
.menu img {
  float: left;
  cursor: pointer;
}
.menu ul {
  float: right;
  margin-top: 23px;
}
@media screen and (max-width: 767px) {
  .menu ul {
    margin-top: 0;
    background: #f00;
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    background: #999;
    transition: 0.3s;
  }
  .menu ul li {
    display: block;
  }
  .menu ul li a {
    display: block;
    color: #fff;
  }
}
.menu ul li {
  display: inline-block;
  margin-right: 20px;
}
.menu ul li:last-child {
  margin-right: 0;
}
.menu ul li span {
  color: #333;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding-bottom: 2px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.menu ul li span:hover {
  border-color: #18b1d3;
}
.menu ul .active span {
  border-color: #18b1d3;
}
.menu--open ul {
  float: right;
}
@media screen and (max-width: 767px) {
  .menu--open ul {
    background: #333;
    transition: 0.3s;
    right: -20%;
  }
  .menu--open ul li {
    display: block;
    border-bottom: 1px solid #444;
  }
  .menu--open ul li span,
  .menu--open ul li a {
    padding: 15px;
  }
  .menu--open ul li span {
    background: #18b1d3;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .menu ul {
    background: #333;
    float: right;
  }
}
.menu__open {
  padding: 8px;
  border: 1px solid #000;
  border-radius: 3px;
  width: 45px;
  height: 39px;
  float: right;
  cursor: pointer;
  margin-top: 14px;
}
.menu__open__stripes .stripe {
  margin-bottom: 6px;
  background: #000;
  height: 3px;
}
.menu__open__stripes .stripe:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .menu li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #444;
  }
  .menu li span,
  .menu li a {
    padding: 15px !important;
  }
  .menu li span {
    background: #18b1d3;
    margin: 0;
  }
}
.auto .window {
  margin-left: -10px;
  clear: both;
}
@media screen and (max-width: 767px) {
  .auto .window {
    margin-left: 0;
  }
}
.auto .window__square {
  width: 50%;
  border: 10px solid transparent;
}
@media screen and (max-width: 992px) {
  .auto .window__square {
    border: 1px solid transparent;
  }
}
.auto .window__square .cover.open {
  background: #86a1b4;
  height: 100%;
}
.auto .window__square .cover.active {
  height: 0%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.auto .window__square .cover {
  cursor: pointer;
  overflow: hidden;
}
.auto .window__square .cover .content img {
  height: 40px;
}
@media screen and (max-width: 992px) {
  .auto .window__square .cover .content img {
    height: 26px;
  }
}
.auto .window__square .cover .content p {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  color: #3a434a;
  font-size: 9px;
}
@media screen and (max-width: 992px) {
  .auto .window__square .cover .content p {
    font-size: 8px;
  }
}
@media screen and (max-width: 767px) {
  .auto .window .content {
    margin: 30px 0 20px;
  }
  .auto .window .content .icon {
    float: left;
    margin-right: 10px;
    padding-bottom: 50px;
  }
  .auto .window .content .image {
    width: 100%;
    height: auto;
  }
  .auto .window .content p {
    color: #738998;
    font-size: 17px;
  }
}
.auto .window .size {
  width: 100%;
  opacity: 0;
}
.auto .window__square.active .cover.open {
  height: 0%;
}
.auto .window__square.active .cover.active {
  background: #474f57;
  height: 100%;
}
.auto .window__square.active .cover.active .content p {
  color: #86a1b4;
}
.auto .owl-carousel {
  position: absolute;
  width: 735px;
  left: 0;
  top: 39px;
}
.auto .owl-carousel .item {
  background: #272c30;
}
.auto .owl-carousel .owl-dots {
  top: -90px;
  right: 0;
  text-align: right;
}
.auto .owl-carousel .owl-dots .owl-dot.active {
  background: #939393;
  border-color: #939393;
}
.auto .owl-carousel .owl-dots .owl-dot {
  background: #fff;
  border-color: #fff;
}
.auto__bg {
  background: #272c30;
  padding-bottom: 10px;
  height: 753px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .auto__bg {
    height: auto;
  }
}
.auto__bg .title h1 {
  color: #fff;
}
.auto__bg .title--section {
  border-bottom: 1px solid #3f4951;
  margin-bottom: 10px;
}
.dashboard .window {
  clear: both;
  margin-top: 130px;
  margin-left: -10px;
}
@media screen and (max-width: 767px) {
  .dashboard .window {
    margin-top: 20px;
    margin-left: 0;
  }
  .dashboard .window .content h1 {
    background: #272c30;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }
  .dashboard .window .content img {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }
}
.dashboard .window__square {
  background: #272c30;
  width: 110%;
  border: 0;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}
.dashboard .window__square h1 {
  margin: 0;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  padding: 6px 0 6px 60px;
}
@media screen and (max-width: 992px) {
  .dashboard .window__square h1 {
    padding: 6px 0 6px 20px;
    font-size: 14px;
  }
}
.dashboard .window__square.active {
  background: #474f57;
}
.dashboard .owl-carousel {
  position: absolute;
  width: 100%;
  left: 0;
}
.dashboard .owl-carousel .owl-dots {
  top: -52px;
  right: 0;
  text-align: right;
}
.dashboard .owl-carousel .owl-dots .owl-dot.active {
  background: #939393;
  border-color: #939393;
}
.dashboard .owl-carousel .owl-dots .owl-dot {
  background: #fff;
  border-color: #fff;
}
.dashboard__bg {
  height: 695px;
  overflow: hidden;
  background-image: url("../img/bg5.jpg");
  padding-bottom: 0px;
}
@media screen and (max-width: 767px) {
  .dashboard__bg {
    height: auto;
  }
}
.dashboard__bg .title h1 {
  color: #fff;
}
.dashboard__bg .title--section {
  border-bottom: 1px solid #6f818f;
  margin-bottom: 10px;
}
.quemsomos__bg {
  height: 1030px;
  background-image: url("../img/bg7.jpg");
}
@media screen and (max-width: 992px) {
  .quemsomos__bg {
    height: auto;
    padding-bottom: 20px;
  }
}
.quemsomos__bg .title h1 {
  color: #333;
}
.quemsomos__bg .title--section {
  border-bottom: 1px solid #697f99;
  margin-bottom: 10px;
}
.quemsomos .content h1 {
  font-size: 28px;
  font-weight: bold;
}
.quemsomos .content p {
  font-size: 17px;
}
.quemsomos .timeline {
  margin-top: 40px;
}
.quemsomos .destaque {
  color: #fff;
  font-size: 28px;
  text-align: center;
  font-weight: 300;
}
.quemsomos .media-logo {
  float: right;
  margin-top: 30px;
}
.orientacao__list {
  margin-top: 56px;
  padding: 10px 0;
}
.orientacao__list__item {
  min-height: 230px;
}
.orientacao__list__item:last-child {
  min-height: auto;
}
@media screen and (max-width: 767px) {
  .orientacao__list__item {
    min-height: auto;
    margin-bottom: 30px;
  }
}
.orientacao__list__item:last-child {
  margin-bottom: 0;
}
.orientacao__list__item h1,
.orientacao__list__item p {
  color: #fff;
}
.orientacao__list__item h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 35px;
}
.orientacao__list__item p {
  font-weight: 300;
  font-size: 20px;
}
.orientacao__bg {
  background-image: url("../img/bg4.jpg");
  padding-bottom: 10px;
  height: 800px;
}
@media screen and (max-width: 767px) {
  .orientacao__bg {
    height: auto;
  }
}
.orientacao__bg .title h1 {
  color: #fff;
}
.orientacao__bg .title--section {
  border-bottom: 1px solid #6b747a;
  margin-bottom: 10px;
}
.header {
  padding: 5px 0;
  background: #fff;
  position: relative;
  z-index: 60;
  width: 100%;
  height: 80px;
  top: 0;
}
.header--fixed {
  position: fixed;
}
@media screen and (max-width: 767px) {
  .header {
    position: fixed;
  }
  .wrap {
    margin-top: 80px;
  }
}
.banner {
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .banner {
    height: 300px;
  }
}
.banner--fix-scroll {
  margin-top: 80px;
}
.banner_buttons {
  position: absolute;
  z-index: 40;
  width: 100%;
  bottom: 75px;
}
@media screen and (max-width: 767px) {
  .banner_buttons {
    bottom: 250px;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .banner_buttons .button {
    margin-bottom: 20px;
  }
}
.banner_buttons.animation--fix {
  bottom: -100%;
}
.banner .owl-carousel .item {
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .banner .owl-carousel .item {
    height: 300px;
  }
}
.banner .owl-carousel .item .logomax {
  margin: 45px auto 0;
  width: auto;
  height: auto;
}
.banner .owl-carousel .item .title--carousel {
  width: 100%;
  position: absolute;
  bottom: 200px;
}
@media screen and (max-width: 767px) {
  .banner .owl-carousel .item .title--carousel {
    bottom: 290px;
  }
}
.banner .owl-carousel .item h1,
.banner .owl-carousel .item h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.banner .owl-carousel .item h1 {
  font-size: 38px;
  margin-bottom: 5px;
}
.banner .owl-carousel .item h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}
.banner--404 .owl-carousel .item h1 {
  font-size: 80px;
  margin-top: 66px;
}
.banner--404 .owl-carousel .item h2 {
  font-size: 28px;
  text-transform: initial;
}
.banner--404 .owl-carousel .banner_buttons .button--main:hover {
  margin-top: 0 !important;
}
.infra {
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .infra__list {
    margin-top: 20px;
  }
}
.infra__list__item {
  margin-bottom: 40px;
  float: left;
  text-align: center;
  width: 12.5%;
}
@media screen and (max-width: 992px) {
  .infra__list__item {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  .infra__list__item {
    width: 50%;
    min-height: 180px;
    margin-bottom: 0;
  }
}
.infra__list__item img {
  margin-bottom: 25px;
}
.infra__list__item p {
  font-size: 17px;
  font-weight: 300;
}
.infra .title h1 {
  color: #86a1b4;
}
.infra .title--section {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.infra .destaque {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0 90px;
  color: #86a1b4;
}
.cases {
  background: #e1e6ec;
}
.cases .url {
  background: #333;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.3s;
  text-decoration: none;
  margin-top: 50px;
  float: left;
}
.cases .url:hover {
  opacity: 0.9;
  transition: 0.3s;
}
.cases__bg {
  height: 880px;
  background: url("../img/graph.png") no-repeat center bottom;
}
@media screen and (max-width: 992px) {
  .cases__bg {
    height: auto;
    padding-bottom: 40px;
  }
}
.cases__bg .title h1 {
  color: #333;
}
@media screen and (max-width: 767px) {
  .cases__bg .title h1 {
    text-align: center;
  }
}
.cases__bg .title--section {
  border-bottom: 1px solid #b5b9be;
  margin-bottom: 10px;
}
.cases__bg .box {
  background: rgba(255,255,255,0.7);
  padding: 0 27px 62px 50px;
  margin-top: 30px;
}
.cases__bg .box .title {
  text-align: right;
}
.cases__bg .box .title h1 {
  font-weight: 300;
  font-size: 52px;
}
@media screen and (min-width: 1200px) {
  .cases__bg .box .title h1 {
    font-size: 82px;
  }
}
@media screen and (max-width: 992px) {
  .cases__bg .box .title h1 {
    font-size: 42px;
  }
}
.cases__bg .box .title h1 span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 63px;
}
@media screen and (min-width: 1200px) {
  .cases__bg .box .title h1 span {
    font-size: 93px;
  }
}
@media screen and (max-width: 992px) {
  .cases__bg .box .title h1 span {
    font-size: 53px;
  }
}
@media screen and (max-width: 767px) {
  .cases__bg .box .title h1 span {
    display: block;
  }
}
.cases__bg .box .content {
  margin-top: 30px;
}
.cases__bg .box .content p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
.cases__bg .box .content p:last-child {
  margin-bottom: 0;
}
.cases__bg .circle-bg {
  background: #e1e6ec;
}
.cases__bg .circle-bg .url {
  background: #333;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.3s;
  text-decoration: none;
  margin-top: 50px;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  float: none;
}
.cases__bg .circle {
  padding-right: 40px;
}
@media screen and (max-width: 767px) {
  .cases__bg .circle {
    width: 45%;
    margin: 10px auto 20px;
    padding: 0;
  }
}
.cases__bg .circle img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.cases__nav {
  margin-top: 20px;
}
.cases__nav .circle {
  cursor: pointer;
  float: left;
  padding: 0 6px;
  transition: 0.3s;
  width: 10%;
  padding: 0 6px;
}
@media screen and (max-width: 992px) {
  .cases__nav .circle {
    width: 20%;
    padding: 0 10px;
    margin-bottom: 15px;
  }
}
.cases__nav .circle img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale;
  width: 100%;
  height: auto;
  transition: 0.2s;
  border-color: #a3cdd6;
  border-width: 0px;
  border-style: solid;
}
.cases__nav .circle img:hover {
  transition: 0.2s;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}
.cases__nav .active {
  transition: 0.2s;
}
.cases__nav .active img {
  transition: 0.2s;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
  border-color: #a3cdd6;
  border-width: 5px;
  border-style: solid;
}
.planos .form input,
.planos .form textarea {
  border-color: #ccc !important;
}
.planos__bg {
  height: 680px;
  background-image: url("../img/bg6.jpg");
}
.planos__bg .title h1 {
  color: #fff;
}
.planos__bg .title--section {
  border-bottom: 1px solid #6b747a;
  margin-bottom: 10px;
}
.planos__bg .table--planos {
  position: relative;
}
.planos__bg .table--planos .box {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-top: 40px;
}
.planos__bg .table--planos .box .terms {
  text-align: center;
  margin-top: -14px;
  background: transparent;
}
.planos__bg .table--planos .box .terms span {
  color: #666;
}
.planos__bg .table--planos .box .terms span a {
  color: #18b1d3;
}
.planos__bg .table--planos .box .terms span a:hover {
  text-decoration: underline;
}
.planos__bg .table--planos .box__close {
  right: 0;
  cursor: pointer;
  top: -27px;
  background: #fff;
  text-align: center;
  width: 36px;
  height: 27px;
  font-size: 28px;
  font-weight: 600;
  position: absolute;
  line-height: 23px;
}
.planos__bg .table--planos .box h1 {
  font-size: 58px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.planos__bg .table--planos .box [class*="col"] {
  border: 0;
  padding: 0 15px;
}
.planos__bg .table--planos .row,
.planos__bg .table--planos [class*="col"] {
  background: inherit;
}
.planos__bg .table--planos [class*="col"] {
  padding: 0 6px;
  border: 0.5px solid #3e4246;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
}
.planos__bg .table--planos [class*="col"]:last-child {
  border: 0;
}
.planos__bg .table--planos .box {
  background: #fff;
}
.planos__bg .table--planos .cell {
  padding: 11px 0;
  height: 50px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  .planos__bg .table--planos .cell {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .planos__bg .table--planos .cell {
    font-size: 13px;
  }
}
.planos__bg .table--planos .cell--especial {
  padding: 0 10px;
  height: 70px;
}
.planos__bg .table--planos .cell--especial button {
  width: 100%;
  padding: 3px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin: 15px 0;
}
.planos__bg .table--planos .cell--title {
  height: 85px;
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
}
.planos__bg .table--planos .cell--title .detail {
  font-size: 12px;
  margin-top: -4px;
  color: #fff;
  display: block;
}
@media screen and (max-width: 992px) {
  .planos__bg .table--planos .cell--title {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .planos__bg .table--planos .cell--title {
    height: 65px;
    font-size: 14px;
  }
}
.planos__bg .table--planos .cell--title-logo {
  height: 85px;
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .planos__bg .table--planos .cell--title-logo {
    height: 65px;
  }
}
.planos__bg .table--planos .cell--title-logo img {
  padding: 3px 0;
}
@media screen and (max-width: 767px) {
  .planos__bg .table--planos .cell--title-logo img {
    width: 100%;
  }
}
.planos__bg .table--planos .cell img {
  margin: -7px 5px 0 10px;
}
@media screen and (min-width: 1200px) {
  .planos__bg .table--planos .cell img {
    margin: -7px 20px 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .planos__bg .table--planos .cell img {
    margin: 0;
  }
}
.planos__bg .table--planos .one {
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .planos__bg .table--planos .one {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .planos__bg .table--planos .one {
    font-size: 12px;
  }
}
.planos__bg .table--planos .line {
  height: 1px;
  margin: 1px 0;
  background: #b2b2b2;
}
.multidevice .window .cover:hover .shadow,
.multidevice .window .cover:hover .content {
  opacity: 0;
  transition: 0.3s;
}
.multidevice .owl-carousel .owl-dots {
  top: -102px;
  right: 0;
  text-align: right;
}
.multidevice .owl-carousel .owl-dots .owl-dot.active {
  background: #939393;
  border-color: #939393;
}
.multidevice .owl-carousel .owl-dots .owl-dot {
  background: #424242;
  border-color: #424242;
}
.multidevice .title {
  color: #333;
}
.multidevice .title--section {
  border-bottom: 1px solid #d2f2ff;
}
.multidevice__bg {
  padding-bottom: 20px;
  background: #ebf9ff;
}
@media screen and (max-width: 767px) {
  .multidevice .list {
    margin-bottom: 40px;
  }
}
.multidevice .list__item {
  margin-bottom: 12px;
  min-height: 75px;
}
.multidevice .list__item .bullet {
  float: left;
  margin-right: 15px;
}
.multidevice .list__item .bullet .circle {
  background: #86a1b4;
  height: 75px;
  width: 75px;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.multidevice .list__item .text {
  font-weight: 300;
  font-size: 18px;
  float: left;
}
@media screen and (max-width: 992px) {
  .multidevice .list__item .text {
    float: none;
  }
}
.multidevice .list__item .text span {
  margin-top: 12px;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
}
.multidevice .list__item.active .circle {
  background: #80ccec;
}
.contact__bg {
  background: #333;
}
.contact__content {
  padding: 30px 0;
}
.contact .title--section {
  border-bottom: 1px solid #666;
  margin: 0;
}
.contact .title--section h1 {
  color: #fff;
}
.contact .form input,
.contact .form textarea {
  color: #fff;
}
.contact .address {
  color: #fff;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .contact .address {
    font-size: 16px;
    padding: 0 20px;
  }
}
.contact .address a {
  color: #14aed0;
  text-decoration: none;
}
.contact .form-content {
  color: #fff;
  margin-top: 1px;
}
@media screen and (max-width: 767px) {
  .contact .form-content {
    padding: 0 15px;
    margin-top: 60px;
  }
}
.contact .form-content h1 {
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.contact .form-content textarea {
  height: 100px;
}
.contact .media a {
  margin-right: 8px;
  transition: 0.3s;
}
.contact .media a:last-child {
  margin-right: 0;
}
.contact .media a:hover {
  transition: 0.3s;
  opacity: 0.7;
}
.contact .menu-footer {
  margin-top: 70px;
}
@media screen and (max-width: 767px) {
  .contact .menu-footer {
    margin-top: 50px;
    text-align: center;
  }
}
.contact .menu-footer span {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 7px;
}
.contact .menu-footer ul {
  padding: 0;
  margin: 11px 0 0;
  float: left;
}
.contact .menu-footer ul li {
  display: block;
}
.contact .menu-footer ul li a {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
.contact .copy {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #444;
}
.beneficios .title--section {
  border-bottom: 1px solid #666;
}
.beneficios__destaque {
  font-weight: bold;
  font-size: 54px;
  text-transform: uppercase;
}
.beneficios__destaque span {
  line-height: 125px;
  font-size: 88px;
}
.beneficios__bg {
  height: 690px;
}
@media screen and (max-width: 992px) {
  .beneficios__bg {
    height: auto;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 993px) {
  .beneficios__bg .window__square .cover .content,
  .beneficios__bg .window__square .cover .shadow {
    transition: 0.3s;
  }
  .beneficios__bg .window__square .cover:hover .content,
  .beneficios__bg .window__square .cover:hover .shadow {
    opacity: 0;
    transition: 0.3s;
  }
}
.beneficios__bg .title span {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  display: block;
  position: absolute;
  text-align: center;
  width: 175px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .beneficios__bg .title-business {
    bottom: 24%;
    left: 9.5%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .beneficios__bg .title-business {
    bottom: 24%;
    left: 9%;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .beneficios__bg .title-business {
    bottom: 24%;
    left: 9%;
  }
}
.beneficios__bg .title-business span {
  margin-left: -56px;
}
@media screen and (min-width: 1200px) {
  .beneficios__bg .title-multidevices {
    top: 24%;
    left: 28%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .beneficios__bg .title-multidevices {
    top: 24%;
    left: 27%;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .beneficios__bg .title-multidevices {
    top: 24%;
    left: 27%;
  }
}
.beneficios__bg .title-multidevices span {
  margin-left: -56px;
}
@media screen and (min-width: 1200px) {
  .beneficios__bg .title-dashboard {
    bottom: 24%;
    left: 44.5%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .beneficios__bg .title-dashboard {
    bottom: 24%;
    left: 43%;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .beneficios__bg .title-dashboard {
    bottom: 24%;
    left: 43%;
  }
}
.beneficios__bg .title-dashboard span {
  margin-left: -52px;
}
@media screen and (min-width: 1200px) {
  .beneficios__bg .title-auto {
    top: 24%;
    left: 61%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .beneficios__bg .title-auto {
    top: 24%;
    left: 59.5%;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .beneficios__bg .title-auto {
    top: 24%;
    left: 59.5%;
  }
}
.beneficios__bg .title-auto span {
  margin-left: -46px;
}
@media screen and (min-width: 1200px) {
  .beneficios__bg .title-infra {
    bottom: 26%;
    left: 78%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .beneficios__bg .title-infra {
    bottom: 24%;
    left: 76.5%;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .beneficios__bg .title-infra {
    bottom: 24%;
    left: 76.5%;
  }
}
.beneficios__bg .title-infra span {
  margin-left: -43px;
}
.beneficios__bg svg {
  enable-background: new 0 0 651 364;
}
.beneficios__bg svg .st0 {
  fill: #4a5067;
}
.beneficios__bg svg .st1 {
  fill: #4a85b2;
}
.beneficios__bg svg .st2 {
  fill: #82cdec;
}
.beneficios__bg svg .st3 {
  fill: #1d5b93;
}
.beneficios__bg svg .st4 {
  fill: #0197c0;
}
#mapa {
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 767px) {
  #mapa {
    height: 200px;
  }
}
