<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ContentHub">
    <meta name="generator" content="ContentHub">
    <meta name="copyright" content="2016, www.contenthub.com">
    <meta name="rating" content="general">
    <meta name="distribution" content="global">
    <meta name="robots" content="index,follow">
    <meta name="site-url" content="http://www.contenthub.com">
    <meta name="description" content="Content HUB Premium CMS - Plataforma para gestão de conteúdo, automatizada para gerar negócios e planejada para estabelecer alto engajamento com a audiência.">
    <meta name="keywords" content="contenthub, cms, gerenciador, website, site">
    <meta property="og:image:height" content="250">
    <meta property="og:image:width" content="300">
    <meta property="og:type" content="website">
    <meta property="og:title" content="ContentHub">
    <meta property="og:site_name" content="ContentHub">
    <meta property="og:description" content="Content HUB Premium CMS - Plataforma para gestão de conteúdo, automatizada para gerar negócios e planejada para estabelecer alto engajamento com a audiência.">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:url" content="http://www.contenthub.com">
    <title>Content Hub</title>
    <link href="components/animate.css/animate.min.css" rel="stylesheet">
    <link href="components/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body ng-controller="MainCtrl">
    <div class="blank fadeOut"></div>
    <div class="wrap"><!--banner-->
      <section class="banner">
        <div class="owl-carousel owl-carousel-banner">
          <div style="background-image:url(img/bg.jpg)" class="item cover">
            <div class="item__filter"></div>
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                  <!--img.logomax.visible-xs.img-responsive(src="img/logo-max.png")--><img src="img/logo-max.png" class="logomax hidden-xs">
                </div>
              </div>
            </div>
            <div class="title--carousel hidden-xs">
              <h1>Premium CMS orientado a negócios</h1>
              <h2>Revolucione sua presença digital</h2>
            </div>
          </div>
        </div>
        <div class="container banner_buttons animation--fix">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
              <button data-value="beneficios" class="button button--main button--w-100">Benefícios</button>
            </div>
            <div class="col-md-4 col-sm-4">
              <button data-value="planos" class="button button--main button--w-100">Planos</button>
            </div>
          </div>
        </div>
      </section><!--nav-->
      <section class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <nav class="menu"><img src="img/logo.png" data-value="banner">
                <div ng-click="toggleMenu()" class="menu__open visible-xs">
                  <div class="menu__open__stripes">
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                  </div>
                </div>
                <ul class="hidden-xs">
                  <li data-value="quemsomos"> <span>Quem somos</span></li>
                  <li data-value="beneficios"> <span>Benefícios</span></li>
                  <li data-value="cases"><span>Cases</span></li>
                  <li data-value="planos"><span>Planos</span></li>
                  <li data-value="contato"><span>Contato</span></li>
                </ul>
                <ul class="visible-xs">
                  <li> <span href="#" ng-click="toggleMenu()">Fechar</span></li>
                  <li><a href="#" ng-click="toggleMenu()" data-value="quemsomos">Quem somos</a></li>
                  <li><a href="#" ng-click="toggleMenu()" data-value="beneficios">Benefícios</a></li>
                  <li><a href="#" ng-click="toggleMenu()" data-value="cases">Cases</a></li>
                  <li><a href="#" ng-click="toggleMenu()" data-value="planos">Planos</a></li>
                  <li><a href="#" ng-click="toggleMenu()" data-value="contato">Contato</a></li>
                </ul>
                <div class="clear"></div>
              </nav>
            </div>
          </div>
        </div>
      </section><!--quemsomos-->
      <section class="quemsomos">
        <div class="quemsomos__bg">
          <div class="title title--section">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>Quem Somos</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="container content">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <h1>QUEM SOMOS E A RAZÃO DE EXISTIRMOS</h1>
                <p>
                  O Grupo Media Response é formado por empresas que trabalham de forma segmentada para as principais agências de comunicação e anunciantes da América Latina, simplificando a execução de mídia e a operação de projetos digitais.
                  
                </p>
                <p>Sempre quebrando barreiras, o Grupo acumula experiência em lançar empresas disruptivas e se mantem vivo a mais de 10 anos no mercado de tecnologia.</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <h1>POR QUE CRIAMOS O CONTENT HUB?</h1>
                <p>Com o propósito de centralizar demandas essenciais de clientes e produtores de conteúdo profissional, mantendo-se atualizado com os últimos avanços tecnológicos, o Grupo Media Response mais uma vez inovou trazendo ao mercado uma solução economicamente viável, automatizada e orientada a negócio.</p>
                <p>
                  A plataforma se destina à empresas e marcas que necessitam estruturar ou profissionalizar sua gestão de comunicação digital.
                  
                </p>
              </div>
            </div>
          </div><img src="img/timeline.png" class="margin--center timeline hidden-xs hidden-sm">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h2 class="destaque">“NOSSA MISSÃO É AJUDAR AGÊNCIAS E ANUNCIANTES A TRANSFORMAR A COMPLEXIDADE DO MUNDO DIGITAL EM ALGO SIMPLES DE ENTENDER E EXECUTAR."</h2><img src="img/media-logo.png" class="media-logo">
              </div>
            </div>
          </div>
        </div>
      </section><!--beneficios-->
      <section class="beneficios">
        <div class="beneficios__bg">
          <div class="title title--section">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>Benefícios</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-5">
                <h1 class="beneficios__destaque">
                   
                  Conheça<br><span>Nossos</span><br>Benefícios
                </h1>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="window">
                  <div data-value="multidevices" class="window__square">
                    <div style="background-image:url(img/beneficios/1.png)" class="cover open"> 
                      <div class="content">
                        <div class="content__center"><img src="img/beneficios/i1.png"><br>Multidevice</div>
                      </div><img src="img/beneficios/shadow.png" class="shadow">
                    </div>
                  </div>
                  <div data-value="automacao" class="window__square">
                    <div style="background-image:url(img/beneficios/2.png)" class="cover open"> 
                      <div class="content">
                        <div class="content__center"><img src="img/beneficios/i2.png"><br>Automação</div>
                      </div><img src="img/beneficios/shadow.png" class="shadow">
                    </div>
                  </div>
                  <div data-value="business" class="window__square">
                    <div style="background-image:url(img/beneficios/3.png)" class="cover open"> 
                      <div class="content">
                        <div class="content__center"><img src="img/beneficios/i3.png"><br>Negócios</div>
                      </div><img src="img/beneficios/shadow.png" class="shadow">
                    </div>
                  </div>
                  <div data-value="dashboard" class="window__square">
                    <div style="background-image:url(img/beneficios/4.png)" class="cover open"> 
                      <div class="content">
                        <div class="content__center"><img src="img/beneficios/i4.png"><br>Dashboard</div>
                      </div><img src="img/beneficios/shadow.png" class="shadow">
                    </div>
                  </div>
                  <div data-value="infraestrutura" class="window__square">
                    <div style="background-image:url(img/beneficios/5.png)" class="cover open"> 
                      <div class="content">
                        <div class="content__center"><img src="img/beneficios/i5.png"><br>Infraestrutura</div>
                      </div><img src="img/beneficios/shadow.png" class="shadow">
                    </div>
                  </div>
                  <div data-value="cases" class="window__square">
                    <div style="background-image:url(img/beneficios/6.png)" class="cover open"> 
                      <div class="content">
                        <div class="content__center"><img src="img/beneficios/i6.png"><br>Cases</div>
                      </div><img src="img/beneficios/shadow.png" class="shadow">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!--multidevice-->
      <section class="multidevice">
        <div class="multidevice__bg">
          <div class="title title--section">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>Multidevice</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="list">
                  <div data-target="0" class="list__item">
                    <div class="bullet">
                      <div class="circle"><img src="img/multidevice/i1.png"></div>
                    </div>
                    <div class="text"><span>Layout</span>100% responsivo</div>
                  </div>
                  <div data-target="1" class="list__item">
                    <div class="bullet">
                      <div class="circle"><img src="img/multidevice/i2.png"></div>
                    </div>
                    <div class="text"><span>Dashboard Responsivo</span>Para gestão de conteúdo</div>
                  </div>
                  <div data-target="2" class="list__item">
                    <div class="bullet">
                      <div class="circle"><img src="img/multidevice/i3.png"></div>
                    </div>
                    <div class="text"><span>Baixa taxa de bounce rate</span> Boa experiência para sua audiência em qualquer device</div>
                  </div>
                  <div data-target="3" class="list__item">
                    <div class="bullet">
                      <div class="circle"><img src="img/multidevice/i4.png"></div>
                    </div>
                    <div class="text"><span>Scroll infinito</span>Navegação inteligente focada na retenção da audiência</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12"><img src="img/multidevice/1.png" class="img-responsive"></div>
            </div>
          </div>
        </div>
      </section><!--auto-->
      <section class="auto">
        <div class="auto__bg">
          <div class="title title--section">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>Automação</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
                <div class="window">
                  <div data-target="0" class="window__square active">
                    <div class="cover open">
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i3.png">
                          <p>AGENDAMENTO DE PUBLICAÇÃO DE POSTS</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                    <div class="cover active">
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i3a.png">
                          <p>AGENDAMENTO DE PUBLICAÇÃO DE POSTS</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                  </div>
                  <div data-target="1" class="window__square">
                    <div class="cover open">
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i8.png">
                          <p>COMPARTILHAMENTO SOCIAL (FACEBOOK +TWITTER)</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                    <div class="cover active">
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i8a.png">
                          <p>COMPARTILHAMENTO SOCIAL (FACEBOOK +TWITTER)</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                  </div>
                  <div data-target="2" class="window__square">
                    <div class="cover open"> 
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i1.png">
                          <p>DESTAQUE NA HOME PARA AS ÚLTIMAS PUBLICAÇÕES DE SEUS CANAIS SOCIAIS</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                    <div class="cover active">
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i1a.png">
                          <p>DESTAQUE NA HOME PARA AS ÚLTIMAS PUBLICAÇÕES DE SEUS CANAIS SOCIAIS</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                  </div>
                  <div data-target="3" class="window__square">
                    <div class="cover open"> 
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i2.png">
                          <p>BOTÃO DE SEGUIR E CONTAGEM DE USUÁRIOS NAS REDES SOCIAIS</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                    <div class="cover active">
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i2a.png">
                          <p>BOTÃO DE SEGUIR E CONTAGEM DE USUÁRIOS NAS REDES SOCIAIS</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                  </div>
                  <div data-target="4" class="window__square">
                    <div class="cover open"> 
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i4.png">
                          <p>INTEGRAÇÃO COM EVENTOS CRIADOS NO FACEBOOK E GOOGLE CALENDAR</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                    <div class="cover active">
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i4a.png">
                          <p>INTEGRAÇÃO COM EVENTOS CRIADOS NO FACEBOOK E GOOGLE CALENDAR</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                  </div>
                  <div data-target="5" class="window__square">
                    <div class="cover open"> 
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i5.png">
                          <p>PÁGINAS EXCLUSIVAS COM CARREGAMENTO DO CONTEÚDO DAS REDES SOCIAIS</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                    <div class="cover active">
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i5a.png">
                          <p>PÁGINAS EXCLUSIVAS COM CARREGAMENTO DO CONTEÚDO DAS REDES SOCIAIS</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                  </div>
                  <div data-target="6" class="window__square">
                    <div class="cover open">
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i6.png">
                          <p>BOTÃO DE COMPARTILHAMENTO COM INTEGRAÇÃO PARA MOBILE</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                    <div class="cover active">
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i6a.png">
                          <p>BOTÃO DE COMPARTILHAMENTO COM INTEGRAÇÃO PARA MOBILE</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                  </div>
                  <div data-target="7" class="window__square">
                    <div class="cover open"> 
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i7.png">
                          <p>COMENTÁRIOS INTEGRADOS COM OS USUÁRIOS LOGADOS NO FACEBOOK</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                    <div class="cover active">
                      <div class="content">
                        <div class="content__center"><img src="img/automacao/i7a.png">
                          <p>COMENTÁRIOS INTEGRADOS COM OS USUÁRIOS LOGADOS NO FACEBOOK</p>
                        </div>
                      </div><img src="http://placehold.it/165x145" class="size">
                    </div>
                  </div>
                </div>
              </div>
              <div style="position: relative" class="col-lg-8 col-md-8 col-sm-8 hidden-xs">
                <div style="width:805px" class="owl-carousel owl-carousel-auto">
                  <div data-content="0" class="item"><img src="img/automacao/01.png"></div>
                  <div data-content="1" class="item"><img src="img/automacao/02.png"></div>
                  <div data-content="2" class="item"><img src="img/automacao/03.png"></div>
                  <div data-content="3" class="item"><img src="img/automacao/04.png"></div>
                  <div data-content="4" class="item"><img src="img/automacao/05.png"></div>
                  <div data-content="5" class="item"><img src="img/automacao/06.png"></div>
                  <div data-content="6" class="item"><img src="img/automacao/07.png"></div>
                  <div data-content="7" class="item"><img src="img/automacao/08.png"></div>
                </div>
              </div>
              <div class="col-xs-12 visible-xs">
                <div class="window">
                  <div class="content"><img src="img/automacao/i3a.png" class="icon">
                    <p>AGENDAMENTO DE PUBLICAÇÃO DE POSTS</p><img src="img/automacao/01.png" class="image">
                  </div>
                  <div class="content"><img src="img/automacao/i8a.png" class="icon">
                    <p>COMPARTILHAMENTO SOCIAL (FACEBOOK +TWITTER)</p><img src="img/automacao/02.png" class="image">
                  </div>
                  <div class="content"><img src="img/automacao/i1a.png" class="icon">
                    <p>DESTAQUE NA HOME PARA AS ÚLTIMAS PUBLICAÇÕES DE SEUS CANAIS SOCIAIS</p><img src="img/automacao/03.png" class="image">
                  </div>
                  <div class="content"><img src="img/automacao/i2a.png" class="icon">
                    <p>BOTÃO DE SEGUIR E CONTAGEM DE USUÁRIOS NAS REDES SOCIAIS</p><img src="img/automacao/04.png" class="image">
                  </div>
                  <div class="content"><img src="img/automacao/i4a.png" class="icon">
                    <p>NTEGRAÇÃO COM EVENTOS CRIADOS NO FACEBOOK E GOOGLE CALENDAR</p><img src="img/automacao/05.png" class="image">
                  </div>
                  <div class="content"><img src="img/automacao/i5a.png" class="icon">
                    <p>PÁGINAS EXCLUSIVAS COM CARREGAMENTO DO CONTEÚDO DAS REDES SOCIAIS</p><img src="img/automacao/06.png" class="image">
                  </div>
                  <div class="content"><img src="img/automacao/i6a.png" class="icon">
                    <p>BOTÃO DE COMPARTILHAMENTO COM INTEGRAÇÃO PARA MOBILE</p><img src="img/automacao/07.png" class="image">
                  </div>
                  <div class="content"><img src="img/automacao/i7a.png" class="icon">
                    <p>COMENTÁRIOS INTEGRADOS COM OS USUÁRIOS LOGADOS NO FACEBOOK</p><img src="img/automacao/08.png" class="image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!--orientacao-->
      <section class="orientacao">
        <div class="orientacao__bg">
          <div class="title title--section">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>Orientação a negócios</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="orientacao__list">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 orientacao__list__item">
                  <h1>Mídia kit white label estruturado</h1>
                  <p>Formatos de patrocínio, Banners display e Publipost</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 orientacao__list__item">
                  <h1>Integração com AD Servers de mercado</h1>
                  <p>DFA, DFP, dentre outros</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 orientacao__list__item">
                  <h1>Publicação de posts estratégicos</h1>
                  <p>
                     
                    Post Oculto, Publipost e Privado
                  </p>
                  <!--p 
                  | Publique apenas para quem você deseja. 
                  | De maneira simples, publique posts patrocinados. 
                  | Apenas usuários logados podem ter acesso a esse conteúdo.
                  
                  
                  -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 orientacao__list__item">
                  <h1>Tag Manager</h1>
                  <p>Simples integração com sistemas de afiliados: AdNetworks, SSP’s e DMP’s</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 orientacao__list__item">
                  <h1>Páginas de conversão </h1>
                  <p>Possua páginas para geração de vendas e leads integradas ao seu conteúdo</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 orientacao__list__item">
                  <h1>Navegação 3.0</h1>
                  <p>UX/ Design touch screen first + scroll infinito </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 orientacao__list__item">
                  <h1>Analytics</h1>
                  <p>Integração com Google Analytics, dentre outros </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 orientacao__list__item">
                  <h1>Flexibilidade</h1>
                  <p>Adaptável a modelos de negócio por indústria</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 orientacao__list__item">
                  <h1>Integrações via API</h1>
                  <p>Plataforma preparada para integrar-se com outros sistemas</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!--dashboard-->
      <section class="dashboard">
        <div class="dashboard__bg">
          <div class="title title--section">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>DASHBOARD SIMPLES E SOFISTICADO</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 padding--right-0 hidden-xs">
                <div class="window">
                  <div data-target="0" class="window__square active">
                    <h1>INTERFACE AMIGÁVEL PARA PUBLICAÇÃO E GESTÃO DE CONTEÚDO</h1>
                  </div>
                  <div data-target="1" class="window__square">
                    <h1>GESTÃO SIMPLIFICADA PARA CATEGORIAS E SUBCATERIAS</h1>
                  </div>
                  <div data-target="2" class="window__square">
                    <h1>GESTÃO DE ACESSO A CONTAS EM DIFERENTES NÍVEIS </h1>
                  </div>
                  <div data-target="3" class="window__square">
                    <h1>POSSIBILIDADE DE GERIR MÚLTIPLOS PORTAIS</h1>
                  </div>
                  <div data-target="4" class="window__square">
                    <h1>DASHBOARD EM TRÊS IDIOMAS</h1>
                  </div>
                  <div data-target="5" class="window__square">
                    <h1>GERENCIADOR DE SLIDER</h1>
                  </div>
                  <div data-target="6" class="window__square">
                    <h1>GALERIA DE IMAGENS </h1>
                  </div>
                </div>
              </div>
              <div style="position: relative" class="col-lg-6 col-md-6 col-sm-6 padding--left-0 hidden-xs">
                <div style="position: absolute;width: 735px;left: 0" class="owl-carousel owl-carousel-dashboard">
                  <div data-content="0" class="item"><img src="img/dash/1.png"></div>
                  <div data-content="1" class="item"><img src="img/dash/2.png"></div>
                  <div data-content="2" class="item"><img src="img/dash/3.png"></div>
                  <div data-content="3" class="item"><img src="img/dash/4.png"></div>
                  <div data-content="4" class="item"><img src="img/dash/5.png"></div>
                  <div data-content="5" class="item"><img src="img/dash/6.png"></div>
                  <div data-content="6" class="item"><img src="img/dash/7.png"></div>
                </div>
              </div>
              <div class="col-xs-12 visible-xs">
                <div class="window">
                  <div class="content">
                    <h1>INTERFACE AMIGÁVEL PARA PUBLICAÇÃO E GESTÃO DE CONTEÚDO</h1><img src="img/dash/1.png">
                  </div>
                  <div class="content">
                    <h1>GESTÃO SIMPLIFICADA PARA CATEGORIAS E SUBCATERIAS</h1><img src="img/dash/2.png">
                  </div>
                  <div class="content">
                    <h1>GESTÃO DE ACESSO A CONTAS EM DIFERENTES NÍVEIS </h1><img src="img/dash/3.png">
                  </div>
                  <div class="content">
                    <h1>POSSIBILIDADE DE GERIR MÚLTIPLOS PORTAIS</h1><img src="img/dash/4.png">
                  </div>
                  <div class="content">
                    <h1>DASHBOARD EM TRÊS IDIOMAS</h1><img src="img/dash/5.png">
                  </div>
                  <div class="content">
                    <h1>GERENCIADOR DE SLIDER</h1><img src="img/dash/6.png">
                  </div>
                  <div class="content">
                    <h1>GALERIA DE IMAGENS </h1><img src="img/dash/7.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!--infra-->
      <section class="infra">
        <div class="infra__bg">
          <div class="title title--section">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>INFRAESTRUTURA</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="destaque hidden-xs">Infraestrutura e segurança</h1>
                <div class="infra__list">
                  <div class="infra__list__item"><img src="img/infra/1.png">
                    <p>Servidores seguros e exclusivos</p>
                  </div>
                  <div class="infra__list__item"><img src="img/infra/2.png">
                    <p>Capacidade de alta escala</p>
                  </div>
                  <div class="infra__list__item"><img src="img/infra/3.png">
                    <p>Estabilidade do tempo de resposta</p>
                  </div>
                  <div class="infra__list__item"><img src="img/infra/4.png">
                    <p>100% homologada com os frameworks do Google</p>
                  </div>
                  <div class="infra__list__item"><img src="img/infra/5.png">
                    <p>Desenvolvida nas mais modernas tecnologias do mercado</p>
                  </div>
                  <div class="infra__list__item"><img src="img/infra/6.png">
                    <p>Servidores Amazon - EC2/S3</p>
                  </div>
                  <div class="infra__list__item"><img src="img/infra/7.png">
                    <p>FRAMEWORKS: NODE JS, AngularJS</p>
                  </div>
                  <div class="infra__list__item"><img src="img/infra/8.png">
                    <p>Banco de dados: NOSQL</p>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!--cases-->
      <section class="cases">
        <div class="cases__bg">
          <div class="title title--section">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>CASES</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="container hidden-xs">
            <div class="row">
              <div class="col-md-12">
                <nav class="cases__nav">
                  <div data-target="0" class="circle active"><img src="img/cases/1.jpg"></div>
                  <div data-target="1" class="circle"><img src="img/cases/2.png"></div>
                  <div data-target="2" class="circle"><img src="img/cases/3.png"></div>
                  <div data-target="3" class="circle"><img src="img/cases/4.png"></div>
                  <div data-target="4" class="circle"><img src="img/cases/5.png"></div>
                  <div data-target="5" class="circle"><img src="img/cases/6.png"></div>
                  <div data-target="6" class="circle"><img src="img/cases/7.png"></div>
                  <div data-target="7" class="circle"><img src="img/cases/8.png"></div>
                  <div data-target="8" class="circle"><img src="img/cases/9.png"></div>
                  <div data-target="9" class="circle"><img src="img/cases/10.png"></div>
                  <div class="clear"></div>
                </nav>
              </div>
            </div>
          </div>
          <div class="owl-carousel owl-carousel-cases">
            <div class="item">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 visible-xs">
                    <div class="circle-bg">
                      <div class="circle"><img src="img/cases/1.jpg"><a href="http://marimoon.com.br/" target="_blank" class="url">Visite o site</a></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="box">
                      <div class="row">
                        <div class="col-md-12"><a href="http://marimoon.com.br/" target="_blank" class="url hidden-xs">Visite o site</a>
                          <div class="title">
                            <h1><span>MARIMOON</span></h1>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <div class="content">
                            <p>MariMoon é uma das principais influenciadoras do Brasil, e a primeira blogueira famosa do país a sair da web para a televisão. Sua popularidade expressa em seu DNA de comunicadora além de  toda sua experiência no mercado de internet, contribuiu de forma direta para o desenvolvimento das principais ferramentas da plataforma Content Hub, que fazem seu portal ser um dos mais profissionais e relevantes do mercado.</p>
                            <p>O relacionamento com MariMoon surgiu para suprir uma necessidade relacionada à infraestrutura que seu blog anterior possuía. Além de importar  mais de 6 anos de conteúdo produzido, oferecemos a ela, servidores elásticos e estáveis, bouce rate abaixo de 1% e mais facilidades relacionadas à publicação automatizada nas redes sociais, para que sua equipe de editores possa manter o conteúdo sempre atualizado e organizado para que o mercado reconheça a qualidade do seu trabalho. </p>
                            <p>
                              MariMoon ainda contou com assistência para montar um plano de negócio e mídia kit que apresenta todos os espaços de publicidade disponíveis, projetos especiais e preços, inseridos de forma estratégica na navegação de seu portal para gerar melhor experiência a sua comunidade e marcas.
                              
                            </p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                          <div class="circle"><img src="img/cases/1.jpg"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 visible-xs">
                    <div class="circle-bg">
                      <div class="circle"><img src="img/cases/2.png"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="box">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="title">
                            <h1><span>E. Group</span></h1>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <div class="content">
                            <p>
                              O E-Group responsável por reunir hotéis e serviços para um nicho de clientes que se caracterizam como viajantes, aventureiros e esportistas, que em comum valorizam a consciência socioambiental, sentiu a necessidade de se manter atualizado em relação às novas tecnologias. Buscou a plataforma Content Hub para resolver suas principais demandas relacionadas à presença digital em mobile e suporte tecnológico para integrar ferramentas relativas à reservas, através de um sistema gerenciador de conteúdo simples e unificado, que lhe permita administrar os sites das suas quatro empresas em apenas um lugar.
                              
                            </p>
                            <p>Percebendo o potencial e relevância da experiência que cada uma das suas empresas possuem e a quantidade de conteúdo exclusivo que geram de maneira espontânea, o E-Group apropriou-se da estrutura planejada do layout da plataforma que explora imagens, volume de conteúdo e integração com as redes sociais, para fortalecer sua marca e os diferenciais de seus serviços, aos seus clientes e mercado.</p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                          <div class="circle"><img src="img/cases/2.png"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 visible-xs">
                    <div class="circle-bg">
                      <div class="circle"><img src="img/cases/3.png"><a href="http://sulamiranda.com.br/" target="_blank" class="url">Visite o site</a></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="box">
                      <div class="row">
                        <div class="col-md-12"><a href="http://sulamiranda.com.br/" target="_blank" class="url hidden-xs">Visite o site</a>
                          <div class="title">
                            <h1><span>Sula Miranda</span></h1>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <div class="content">
                            <p>
                              Com 30 anos de carreira e muita experiência de vida, a artista Sula Miranda contou com o suporte da plataforma Contente Hub para lançar seu novo portal de 
                              
                              conteúdo, e assim abrir novas portas para gerar negócios e se manter presente 
                              
                              no mercado digital.
                              
                            </p>
                            <p>
                              Todas as ferramentas de automação relacionadas às redes sociais e ao gerenciamento do conteúdo, permitem que a Sula ganhe tempo e controle de 
                              
                              todo o trabalho que está sendo executado. Além disso, não precisa contar com 
                              
                              o serviço de agência de publicidade ou terceiros para fechar acordos 
                              
                              comerciais ou produzir peças, uma vez que seu portal possui ferramentas de 
                              
                              marketing atualizadas e oferece suporte sob demanda.
                            </p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                          <div class="circle"><img src="img/cases/3.png"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 visible-xs">
                    <div class="circle-bg">
                      <div class="circle"><img src="img/cases/4.png"><a href="http://www.rubinhopescador.com.br/" target="_blank" class="url">Visite o site</a></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="box">
                      <div class="row">
                        <div class="col-md-12"><a href="http://www.rubinhopescador.com.br/" target="_blank" class="url hidden-xs">Visite o site</a>
                          <div class="title">
                            <h1><span>Rubinho Pescador</span></h1>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <div class="content">
                            <p>Com o propósito de fortalecer seu trabalho e alcançar mais patrocinadores, Rubens de Almeida Prado, conhecido como Rubinho Pescador contratou a plataforma Content Hub para organizar todo seu vasto conhecimento e conteúdo produzido para agência, escola de turismo e para o programa de TV Pescaventura além da ONG Doutores das águas.</p>
                            <p>
                              Com um canal digital profissional, planejado com espaços para 
                              
                              publicidade e patrocínios de maneira automatizada, permite integração de 
                              
                              seus canais de comunicação e proporciona ao Rubinho todo suporte 
                              
                              tecnológico necessário para que ele e sua equipe otimize tempo e 
                              
                              recursos.
                            </p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                          <div class="circle"><img src="img/cases/4.png"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 visible-xs">
                    <div class="circle-bg">
                      <div class="circle"><img src="img/cases/5.png"><a href="http://allyouneedisrock.com.br/" target="_blank" class="url">Visite o site</a></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="box">
                      <div class="row">
                        <div class="col-md-12"><a href="http://allyouneedisrock.com.br/" target="_blank" class="url hidden-xs">Visite o site</a>
                          <div class="title">
                            <h1><span>All You Need is Rock</span></h1>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <div class="content">
                            <p>
                              O portal All You Need Is Rock é um case para plataforma Content Hub, 
                              
                              pois como produtor de conteúdo, conseguiu transformar seu maior 
                              
                              hobbie em trabalho através do suporte tecnológico e a orientação de 
                              
                              negócios que a plataforma disponibiliza.
                            </p>
                            <p>
                              O portal responsivo permite fazer publicações via mobile, já integrado 
                              
                              com as redes sociais, possui suporte de servidores dedicados que 
                              
                              garantem a estabilidade e a disponibilidade para publicações com 
                              
                              grandes volumes de imagens, e com isso, enfatiza a oportunidade de 
                              
                              maior alcance a repercussão de seu trabalho nas redes sociais.
                            </p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                          <div class="circle"><img src="img/cases/5.png"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 visible-xs">
                    <div class="circle-bg">
                      <div class="circle"><img src="img/cases/6.png"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="box">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="title">
                            <h1><span>Vila Kalango</span></h1>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <div class="content">
                            <p>O renomeado Vila Kalango, em Jericoacoara, destaca-se no segmento de hotéis de luxo rústico no Brasil, e conta com diferenciais que atraem clientes durante todo o ano, em busca das acomodações aconchegantes em frente à praia, espaços zen e possibilidade de lazer, incluindo a imersão na cultura da região.</p>
                            <p>
                              Com a plataforma Content Hub, o hotel conquistou também uma posição
                              
                              destacada no mercado digital em relação aos seus concorrentes.
                            </p>
                            <p>
                              Desenvolvemos a integração com outras plataformas de busca e reserva
                              
                              de hospedagem, fundamentais para o negócio. Com isso, passou a integrar o planejamento de comunicação definido pelo E-Group e a ter um ambiente exclusivo, prático e responsivo, para gerenciar conteúdo, que possibilita a administração de acesso a um número determinado de editores e a usuários cadastrados na home do portal.
                            </p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                          <div class="circle"><img src="img/cases/6.png"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 visible-xs">
                    <div class="circle-bg">
                      <div class="circle"><img src="img/cases/7.png"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="box">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="title">
                            <h1><span>Rancho do Peixe</span></h1>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <div class="content">
                            <p>Com forte cunho social e consciência ambiental, a pousada Rancho do Peixe buscou na plataforma Content Hub, primeiramente uma forma de ter sua comunicação alinhada à do E-Group, e também uma forma de aprimorar o modo como produzia conteúdo e se comunicava com o mercado brasileiro.</p>
                            <p>
                              Com novas facilidades de publicação automatizada nas redes sociais,
                              
                              layout planejado para garantir boa experiência ao usuário na navegação
                              
                              via mobile, priorizando as imagens que encantam os visitantes e o
                              
                              engajamento garantido devido o volume de publicações atualizadas
                              
                              constantemente, o portal agora consegue atender suas necessidades
                              
                              fundamentais, em relação a comunicação.
                            </p>
                            <p>
                              O suporte de tecnologia para esse modelo de serviço que demanda novas
                              
                              atualizações constantes e integrações com outros sites e plataformas,
                              
                              conta com profissionais multidisciplinares para trazer soluções a
                              
                              diversos aspectos do negócio em questão.
                            </p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                          <div class="circle"><img src="img/cases/7.png"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 visible-xs">
                    <div class="circle-bg">
                      <div class="circle"><img src="img/cases/8.png"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="box">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="title">
                            <h1><span>Surfinsem<br class="visible-xs">fim</span></h1>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <div class="content">
                            <p>
                              O Surfin sem fim surgiu da idéia de um dos fundadores do E-Group que é 
                              
                              velejador e viajava constantemente em busca de lugares inexplorados para 
                              
                              velejar usando o kite e wind surf .  
                            </p>
                            <p>
                              O serviço oferece uma experiência única para os clientes, traçando rotas para 
                              
                              downwinds, usando apenas os ventos constantes e oferecendo uma estrutura 
                              
                              completa com apoio por água e terra, durante o trajeto.  As rotas começam em 
                              
                              hotéis incríveis, passando por praias maravilhosas, vistas paradisíacas e 
                              
                              finalizando em outro hotel. 
                            </p>
                            <p>
                              Assim como o esporte, o projeto Surfin Sem Fim buscou a plataforma Content 
                              
                              Hub primeiramente para ter um portal de conteúdo responsivo, que 
                              
                              proporcionasse uma navegação dinâmica e organizada e que pudessem 
                              
                              publicar e gerir um grande volume de publicações criadas espontaneamente 
                              
                              por seus clientes nas redes sociais, além das contribuições de editores 
                              
                              parceiros e também de sua equipe de marketing.
                            </p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                          <div class="circle"><img src="img/cases/8.png"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 visible-xs">
                    <div class="circle-bg">
                      <div class="circle"><img src="img/cases/9.png"><a href="http://anamariaalvarado.com.mx/" target="_blank" class="url">Visite o site</a></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="box">
                      <div class="row">
                        <div class="col-md-12"><a href="http://anamariaalvarado.com.mx/" target="_blank" class="url hidden-xs">Visite o site</a>
                          <div class="title">
                            <h1><span>Ana Maria Alvarado</span></h1>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <div class="content">
                            <p>
                              Ana Maria Alvarado é uma jornalista muito querida no México que escreve
                              
                              sobre entretenimento. Trabalhou por mais de 15 anos em um famoso programa 
                              
                              de rádio chamado: Todo para la mujer e atualmente participa do programa de 
                              
                              televisão: La cuchara.
                            </p>
                            <p>
                              Com a plataforma Content Hub, encontrou diversas facilidades relacionadas à publicação e gestão de seu conteúdo para validar sua popularidade e 
                              
                              transformar seu portal em uma revista online, onde os fãs acessam as 
                              
                              publicações mais recentes sobre sociedade, vida e estilo, televisão e rádio 
                              
                              diariamente, em qualquer device.
                            </p>
                            <p>
                              Com grande volume de publicação, Ana Maria conta com ferramentas como 
                              
                              calendário e agendamento de posts para otimizar seu trabalho e vem 
                              
                              alcançado cada vez mais seguidores principalmente via mobile.
                            </p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                          <div class="circle"><img src="img/cases/9.png"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 visible-xs">
                    <div class="circle-bg">
                      <div class="circle"><img src="img/cases/10.png"><a href="http://viralitube.com/" target="_blank" class="url">Visite o site</a></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="box">
                      <div class="row">
                        <div class="col-md-12"><a href="http://viralitube.com/" target="_blank" class="url hidden-xs">Visite o site</a>
                          <div class="title">
                            <h1><span>Viralitube</span></h1>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <div class="content">
                            <p>
                              A idéia do portal surgiu no escritório de um grupo de mídia chileno, que 
                              
                              entendeu desde o princípio a importância da produção de grande volume de 
                              
                              conteúdo e como as grandes empresas se apropriam das comunidades para 
                              
                              divulgarem seus produtos.
                            </p>
                            <p>
                              O portal Viralitube, com ajuda da plataforma Content Hub, busca alcançar 
                              
                              relevância no mercado através da audiência. Com todas suas publicações 
                              
                              centralizadas em um só ambiente, sua comunidade consegue ter acesso via 
                              
                              mobile e assim viralizar o conteúdo produzido também via WhatsApp.
                            </p>
                            <p>Com layout e diversas ferramentas de marketing integradas e planejadas para manter o usuário por mais tempo no portal, a equipe de produção de conteúdo pode contar com diferenciais relacionados à automação, integração com redes sociais, estabilidade de servidores e segurança para gerir seus negócios digitais.</p>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                          <div class="circle"><img src="img/cases/10.png"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!--planos-->
      <section class="planos">
        <div class="planos__bg">
          <div class="title title--section-2">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>Planos</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1">
                <div class="table--planos">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row margin--lr-0">
                        <div class="box">
                          <div class="box__close">x</div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <h1>Solicite <br>seu portal</h1><img src="img/planos/graph.png" class="img-reponsive">
                          </div>
                          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div ng-show="formPlanos.name.$invalid &amp;&amp; formPlanos.name.$dirty" class="alert alert-danger">Complete os campos</div>
                            <div ng-show="formPlanos.email.$invalid &amp;&amp; formPlanos.email.$dirty" class="alert alert-danger">Complete os campos com dados válidos</div>
                            <div ng-show="f2success == true" class="alert alert-success">Enviado com sucesso</div>
                            <form name="formPlanos" class="form">
                              <input hidden type="text" name="plan" ng-model="plano.plan">
                              <input ng-class="{'form__item--error': formPlanos.name.$invalid &amp;&amp; formPlanos.name.$dirty }" type="text" placeholder="nome *" name="name" ng-model="plano.name" ng-required="true" class="form-control">
                              <input ng-class="{'form__item--error': formPlanos.email.$invalid &amp;&amp; formPlanos.email.$dirty }" type="email" placeholder="email *" name="email" ng-model="plano.email" ng-required="true" class="form-control">
                              <input ng-class="{'form__item--error': formPlanos.phone.$invalid &amp;&amp; formPlanos.phone.$dirty }" type="text" placeholder="telefone *" name="phone" ng-model="plano.phone" ng-required="true" class="form-control">
                              <input ng-class="{'form__item--error': formPlanos.company.$invalid &amp;&amp; formPlanos.company.$dirty }" type="text" placeholder="empresa" name="company" ng-model="plano.company" ng-required="false" class="form-control">
                              <input ng-class="{'form__item--error': formPlanos.domain.$invalid &amp;&amp; formPlanos.domain.$dirty }" type="text" placeholder="domínio" name="domain" ng-model="plano.domain" ng-required="false" class="form-control">
                              <textarea ng-class="{'form__item--error': formPlanos.message.$invalid &amp;&amp; formPlanos.message.$dirty }" placeholder="mensagem" name="message" ng-model="plano.message" ng-required="false" class="form-control"></textarea>
                              <button ng-disabled="formPlanos.$invalid" ng-click="sendPlano(plano)" class="btn">enviar</button>
                            </form>
                          </div>
                          <div class="col-md-12 terms"><span>Ao se inscrever você aceita a nossa <a href="#">Política de Privacidade </a>e os <a href="#">Termos de Uso</a></span></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <div class="cell cell--title-logo"><img src="img/logo-min.png"></div>
                          <div class="line"></div>
                          <div class="cell one">PAGE VIEWS</div>
                          <div class="line"></div>
                          <div class="cell one">ENVIOS DE NEWSLETTER</div>
                          <div class="line"></div>
                          <div class="cell one">APP</div>
                          <div class="line"></div>
                          <div class="cell one">CONTAS DE EDITORES</div>
                          <div class="line"></div>
                          <div class="cell one">SETUP</div>
                          <div class="line"></div>
                          <div class="cell one">FEE MENSAL</div>
                          <div class="cell cell--especial hidden-xs"></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <div class="cell cell--title">STANDARD</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes1.png" class="hidden-xs">100.000</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes1.png" class="hidden-xs">10.000</div>
                          <div class="line"></div>
                          <div class="cell"><img src="img/planos/no1.png" class="hidden-xs">-----------</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes1.png" class="hidden-xs">5 CONTAS</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes1.png" class="hidden-xs">R$4.999,99</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes1.png" class="hidden-xs">R$999,00</div>
                          <div class="cell cell--especial hidden-xs">
                            <button data-target="1" ng-click="planChange('standart')" class="button button--color button--color-esp1">Contratar</button>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <div class="cell cell--title">BUSINESS </div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes2.png" class="hidden-xs">300.000</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes2.png" class="hidden-xs">50.000</div>
                          <div class="line"></div>
                          <div class="cell"><img src="img/planos/no2.png" class="hidden-xs">-----------</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes2.png" class="hidden-xs">15 CONTAS</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes2.png" class="hidden-xs">R$4.999,99</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes2.png" class="hidden-xs">R$1.499,00</div>
                          <div class="cell cell--especial hidden-xs">
                            <button data-target="2" ng-click="planChange('business')" class="button button--color button--color-esp2">Contratar</button>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <div class="cell cell--title">ENTERPRISE<span class="detail">(sob demanda)</span></div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes3.png" class="hidden-xs">1.000.000</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes3.png" class="hidden-xs">250.000</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes3.png" class="hidden-xs">IOS/ANDROID</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes3.png" class="hidden-xs">100 CONTAS</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes3.png" class="hidden-xs">Sob consulta</div>
                          <div class="line"></div>
                          <div class="cell"> <img src="img/planos/yes3.png" class="hidden-xs">Sob consulta</div>
                          <div class="cell cell--especial hidden-xs">
                            <button data-target="3" ng-click="planChange('enterprise')" class="button button--color button--color-esp3">Contratar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="contact">
        <div class="contact__bg">
          <div class="title title--section">
            <div class="container">
              <div class="row">
                <div class="col-md-12"> 
                  <h1>Contato</h1>
                </div>
              </div>
            </div>
          </div>
          <div id="mapa"></div>
          <div class="container contact__content">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-7 col-xs-12">
                    <p class="address">AV. DR. CARDOSO DE MELO, Nº 1.184 – CONJUNTO 12<br>SÃO PAULO, 04548 - 004<br><br><a href="mailto:contenthub.mr.pt@mediaresponse.com">contenthub.mr.pt@mediaresponse.com</a><br>+55 (11) 3178-2500</p>
                  </div>
                </div>
                <div class="row menu-footer media">
                  <div class="col-lg-6 col-md-6 col-sm-7"><span>contenthub na rede:</span><a href="https://www.facebook.com/contenthubcms" target="_blank"><img src="img/facebook.png"></a><a href="https://twitter.com/contenthubcms" target="_blank"><img src="img/twitter.png"></a><a href="https://www.linkedin.com/company/media-response-brazil" target="_blank"><img src="img/in.png"></a></div>
                </div>
                <div class="row menu-footer">
                  <div class="col-lg-6 col-md-6 col-sm-7"><span>uma empresa do grupo:</span><img src="img/media-logo2.png"></div>
                  <div class="col-lg-6 col-md-6 col-sm-5 hidden-xs">
                    <ul>
                      <!--lia(href="#") FAQ
                      -->
                      <li><a href="#">TERMOS DE USO</a></li>
                      <li><a href="#">POLÍTICA DE PRIVACIDADE</a></li>
                      <!--lia(href="#") ZEN DESK
                      -->
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <div class="form-content">   
                  <h1>Formulário de contato</h1>
                  <div ng-show="formContact.name.$invalid &amp;&amp; formContact.name.$dirty" class="alert alert-danger">Complete os campos</div>
                  <div ng-show="formContact.email.$invalid &amp;&amp; formContact.email.$dirty" class="alert alert-danger">Complete os campos com dados válidos</div>
                  <div ng-show="f1success == true" class="alert alert-success">Enviado com sucesso</div>
                  <form name="formContact" class="form">
                    <input ng-class="{'form__item--error': formContact.name.$invalid &amp;&amp; formContact.name.$dirty }" type="text" placeholder="nome *" name="name" ng-model="contact.name" ng-required="true" class="form-control">
                    <input ng-class="{'form__item--error': formContact.email.$invalid &amp;&amp; formContact.email.$dirty }" type="email" placeholder="email *" name="email" ng-model="contact.email" ng-required="true" class="form-control">
                    <input ng-class="{'form__item--error': formContact.phone.$invalid &amp;&amp; formContact.phone.$dirty }" type="text" placeholder="telefone *" name="phone" ng-model="contact.phone" ng-required="true" class="form-control">
                    <input ng-class="{'form__item--error': formContact.company.$invalid &amp;&amp; formContact.company.$dirty }" type="text" placeholder="empresa" name="company" ng-model="contact.company" ng-required="false" class="form-control">
                    <input ng-class="{'form__item--error': formContact.domain.$invalid &amp;&amp; formContact.domain.$dirty }" type="text" placeholder="domínio" name="domain" ng-model="contact.domain" ng-required="false" class="form-control">
                    <textarea ng-class="{'form__item--error': formContact.message.$invalid &amp;&amp; formContact.message.$dirty }" placeholder="mensagem" name="message" ng-model="contact.message" ng-required="false" class="form-control"></textarea>
                    <button ng-disabled="formContact.$invalid" ng-click="sendContact(contact)" class="btn">enviar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="copy">© 2016 - ALL RIGHTS RESERVED TO MEDIA RESPONSE GROUP AND COMPANIES</div>
        </div>
      </section>
    </div>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/jquery-ui/jquery-ui.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/maps.js"></script>
    <script src="js/controller/controller.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="components/vivus/dist/vivus.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>