.button
	border 0
	outline 0
	box-shadow 0
	-webkit-box-radius 0
	-moz-box-radius 0
	-o-box-radius 0
	-ms-box-radius 0
	-webkit-box-shadow 0
	-moz-box-shadow 0
	-o-box-shadow 0
	-ms-box-shadow 0
	text-align center
	text-transform uppercase
	&--main
		background #0195bf
		color #fff
		padding 18px 0
		font-weight 600
		font-size 30px
		transition 0.3s
		margin-top 0
		border-bottom 4px solid darken(#0195bf, 15%)
		&:hover
			background darken(#0195bf, 10%)
			transition 0.3s
			margin-top -10px
			border-bottom 4px solid darken(#0195bf, 25%)
	&--w-100
		width 100%
	&--color
		font-size 24px
		text-transform uppercase
		font-weight 400
		@extend .f--oswald
		&-esp1
			background #79a8b2 !important
		&-esp2
			background #0980c4 !important
		&-esp3
			background #00d7b5 !important
			background -moz-linear-gradient(left,  #00799a 0%, #00d7b5 100%) !important
			background -webkit-linear-gradient(left,  #00799a 0%,#00d7b5 100%) !important
			background linear-gradient(to right,  #00799a 0%,#00d7b5 100%) !important
