.owl-carousel
	.item
		background-size 100% auto
		background-repeat no-repeat
		&__filter
			background #000
			opacity 0.5
			width 100%
			height 100%
			position absolute
		.person
			width auto
			height 100%
			outline 1px solid #000
	.owl-dots
		position absolute
		bottom 0
		text-align center
		width 100%
		display block
		.owl-dot
			width 10px
			height 10px
			border-radius 50%
			border 1px solid #666
			background transparent
			margin 5px
			display inline-block
		.active
			background #666
	.owl-nav
		.owl-prev,
		.owl-next
			position absolute
			top 50%
		.owl-prev
			left 0
		.owl-next
			right 0