.form
	input,
	textarea
		width 100%
		margin-bottom 10px
		border-bottom 1px solid #555!important
		padding 5px 0
		background transparent
	textarea
		height 34px
	button
		color #fff
		background #18b1d3
		width 100%
		text-transform uppercase
		font-weight 300
		font-size 20px
		padding 10px
		cursor pointer
		&[disabled]
			background #ccc
			color #333
	input,
	textarea,
	button
		border 0
		-webkit-box-shadow none
		-moz-box-shadow none
		-ms-box-shadow none
		box-shadow none
		-webkit-border-radius 0
		-moz-border-radius 0
		-ms-border-radius 0
		border-radius 0
		&:active,
		&:focus
			outline 0 !important
			-webkit-box-shadow none !important
			-moz-box-shadow none !important
			-ms-box-shadow none !important
			box-shadow none !important
	input
		&[type=text]
			color #000
		&[type=email]
			color #000
		&[type=submit]
			color #000
	textarea
		color #000
	&__item
		&--error
			border 1px solid red