.icon
	&--connect
		background url('../img/icon-connect.png') no-repeat
		width 10px
		height 51px
	&--graph
		background-image url('../img/sprite-icons.png')
		background-repeat no-repeat
		&-business
			background-position 0 -4px
			width 68px
			height 68px
		&-multidevices
			background-position -122px -3px
			width 63px
			height 69px
		&-dashboard
			background-position -228px -5px
			width 75px
			height 66px
		&-auto
			background-position -338px 0
			width 85px
			height 76px
		&-infra
			background-position -452px -6px
			width 83px
			height 61px