.title
	&--section
		padding 12px 0 10px
		margin-bottom 60px
		h1,
		p
			text-transform uppercase
		h1
			font-weight 100
			margin 0
			font-size 40px
			font-weight 300
			@extend .f--lato
		p
			font-size 15px
			margin 0
		&-2
			h1
				text-align center
				padding 0 0 20px
				font-size 82px
				text-transform uppercase
				@extend .f--oswald
				font-weight 400