.window
	width 100%
	&__square
		width 33%
		float left
		position relative
		border 1px solid #fff
		cursor pointer
		.cover
			.shadow,
			.content
				opacity 1
				transition 0.3s
			.shadow
				width 100%
				height 100%
			.content
				position absolute
				width 100%
				height 100%
				z-index 10
				&__center
					@extend .f--oswald
					position absolute
					color #fff
					font-size 23px
					font-weight 300
					width 100%
					text-align center
					height 92px
					top 50%
					margin-top -46px
					img
						margin-bottom 6px