.clear
	display block
	&:after
		content ''
		clear both
.float
	&--left
		float left
	&--right
		float right
.text
	&--left
		text-align left !important
	&--center
		text-align center !important
	&--right
		text-align right !important
.f
	&--oswald
		font-family: 'Oswald', sans-serif;
	&--lato
		font-family: 'Lato', sans-serif;
.padding
	&--left
		&-0
			padding-left 0
	&--right
		&-0
			padding-right 0
.margin
	&--center
		margin 0 auto
		display block
	&--lr
		&-0
			margin-left 0
			margin-right 0
	&--left
		&-0
			margin-left 0
	&--right
		&-0
			margin-right 0