*
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	color #333
	font-family: 'Lato', sans-serif;
a
	text-decoration none
	&:hover
		text-decoration none
ul
	padding 0
	margin 0
	li
		list-style none
h1
	font-size 62px