.blank
	background #fff
	position fixed
	top 0
	left 0
	z-index 100
	width 100%
	height 100%
.wrap
	overflow hidden
	transition 0.3s
.cover
	background-repeat no-repeat
	background-position center
	-webkit-background-size cover !important
	-moz-background-size cover !important
	-o-background-size cover !important
	background-size cover !important
	width 100%
	height 100%
.menu	
	img
		float left
		cursor pointer
	ul
		float right
		margin-top 23px
		@media screen and (max-width: 767px)
			@extend .index-top
			margin-top 0
			background red
			position fixed
			width 100%
			height 100%
			right -100%
			top 0
			background #999
			transition 0.3s
			li
				display block
				a
					display block
					color #fff
		li
			display inline-block
			margin-right 20px
			&:last-child
				margin-right 0
			span
				color #333
				font-size 17px
				font-weight bold
				text-transform uppercase
				display block
				padding-bottom 2px
				border-bottom 3px solid transparent
				cursor pointer
				&:hover
					border-color #18B1D3
		.active
			span
				border-color #18B1D3
	&--open
		//margin-left -80%
		ul
			float right
			@media screen and (max-width: 767px)
				background #333
				transition 0.3s
				right -20%
				li
					display block
					border-bottom 1px solid #444
					span,
					a
						padding 15px
					span
						background #18b1d3
						margin 0
	@media screen and (max-width: 767px)
		ul
			background #333
			float right
			@media screen and (max-width: 767px)
				li
					display block
					width 100%
					border-bottom 1px solid #444
					span,
					a
						padding 15px !important
					span
						background #18b1d3
						margin 0
	&__open
		padding 8px
		border 1px solid #000
		border-radius 3px
		width 45px
		height 39px
		float right
		cursor pointer
		margin-top 14px
		&__stripes
			.stripe
				margin-bottom 6px
				background #000
				height 3px
				&:last-child
					margin-bottom 0

.auto
	.window
		margin-left -10px
		clear both
		@media screen and (max-width: 767px)
			margin-left 0
		&__square
			width 50%
			border 10px solid transparent
			@media screen and (max-width: 992px)
				border 1px solid transparent
			.cover.open
				background #86a1b4
				height 100%
			.cover.active
				height 0%
				position absolute
				top 0
				left 0
				z-index 10
			.cover
				cursor pointer
				overflow hidden
				.content
					img
						height 40px
						@media screen and (max-width: 992px)
							height 26px
					p
						text-align center
						font-weight bold
						padding 5px
						color #3a434a
						font-size 9px
						@media screen and (max-width: 992px)
							font-size 8px
		@media screen and (max-width: 767px)
			.content
				margin 30px 0 20px
				.icon
					float left
					margin-right 10px
					padding-bottom 50px
				.image
					width 100%
					height auto
				p
					color #738998
					font-size 17px
		.size
			width 100%
			opacity 0
		&__square.active
			.cover.open
				height 0%
			.cover.active
				background #474f57
				height 100%
				.content
					p
						color #86a1b4
	.owl-carousel
		position absolute
		width 735px
		left 0
		top 39px
		.item
			background #272c30
		.owl-dots
			top -90px
			right 0
			text-align right
			.owl-dot.active
				background #939393
				border-color #939393
			.owl-dot
				background #fff
				border-color #fff
	&__bg
		background #272c30
		padding-bottom 10px
		height 753px
		overflow hidden
		@media screen and (max-width: 767px)
			height auto
		.title
			h1
				color #fff
			&--section
				border-bottom 1px solid #3f4951
				margin-bottom 10px
.dashboard
	.window
		clear both
		margin-top 130px
		margin-left -10px
		@media screen and (max-width: 767px)
			margin-top 20px
			margin-left 0
			.content
				h1
					background #272C30
					padding 20px
					color #fff
					font-size 20px
					line-height 26px
					@extend .f--oswald
					margin 0
				img
					margin-bottom 20px
					width 100%
					height auto
		&__square
			background #272c30
			width 110%
			border 0
			margin 0
			margin-bottom 12px
			padding 0
			h1
				margin 0
				color #fff
				@extend .f--oswald
				font-weight 300
				text-transform uppercase
				font-size 20px
				padding 6px 0 6px 60px
				@media screen and (max-width: 992px)
					padding 6px 0 6px 20px
					font-size 14px
		&__square.active
			background #474f57
	.owl-carousel
		position absolute
		width 100%
		left 0
		.owl-dots
			top -52px
			right 0
			text-align right
			.owl-dot.active
				background #939393
				border-color #939393
			.owl-dot
				background #fff
				border-color #fff
	&__bg
		height 695px
		overflow hidden
		background-image url('../img/bg5.jpg')
		@extend .cover
		padding-bottom 0px
		@media screen and (max-width: 767px)
			height auto
		.title
			h1
				color #fff
			&--section
				border-bottom 1px solid #6f818f
				margin-bottom 10px
.quemsomos
	&__bg
		height 1030px
		background-image url('../img/bg7.jpg')
		@extend .cover
		@media screen and (max-width: 992px)
			height auto
			padding-bottom 20px
		.title
			h1
				color #333
			&--section
				border-bottom 1px solid #697f99
				margin-bottom 10px
	.content
		h1
			@extend .f--oswald
			font-size 28px
			font-weight bold
		p
			font-size 17px
	.timeline
		margin-top 40px
	.destaque
		color #fff
		font-size 28px
		text-align center
		font-weight 300
	.media-logo
		float right
		margin-top 30px
.orientacao
	&__list
		margin-top 56px
		padding 10px 0
		//background rgba(134, 161, 180, 0.8)
		&__item
			//min-height 150px
			min-height 230px
			&:last-child
				min-height auto
			@media screen and (max-width: 767px)
				min-height auto
				margin-bottom 30px
			&:last-child
				margin-bottom 0
			h1,
			p
				@extend .f--oswald
				color #fff
			h1
				font-weight bold
				text-transform uppercase
				font-size 24px	
				line-height 35px
			p
				font-weight 300
				font-size 20px	
	&__bg
		background-image url('../img/bg4.jpg')
		@extend .cover
		padding-bottom 10px
		height 800px
		@media screen and (max-width: 767px)
			height auto
		.title
			h1
				color #fff
			&--section
				border-bottom 1px solid #6b747a
				margin-bottom 10px
	
$headerH = 80px
.header
	padding 5px 0
	background #fff
	position relative
	z-index 60
	width 100%
	height $headerH
	top 0
	&--fixed
		position fixed
	@media screen and (max-width: 767px)
		position fixed
		/.wrap
			margin-top $headerH
.banner
	overflow hidden
	@media screen and (max-width: 767px)
		height 300px
	&--fix-scroll
		margin-top $headerH
	&_buttons
		position absolute
		z-index 40
		width 100%
		bottom 75px
		@media screen and (max-width: 767px)
			bottom 250px
			position relative
		.button
			@media screen and (max-width: 767px)
				margin-bottom 20px
		&.animation--fix
			bottom -100%	
	.owl-carousel
		.item
			height 100vh
			@media screen and (max-width: 767px)
				height 300px
			.logomax
				margin 45px auto 0
				width auto
				height auto
			.title--carousel
				width 100%
				position absolute
				bottom 200px	
				@media screen and (max-width: 767px)
					bottom 290px	
			h1,
			h2
				text-align center
				color #fff
				text-transform uppercase
			h1
				font-size 38px
				margin-bottom 5px
			h2
				font-size 28px
				font-weight 300
				margin 0
	&--404
		.owl-carousel
			.item
				h1
					@extend .f--oswald
					font-size 80px
					margin-top 66px
				h2
					font-size 28px
					text-transform initial
			.banner_buttons
				.button--main
					&:hover
						margin-top 0 !important


	
.infra
	padding-bottom 100px
	&__list
		@media screen and (max-width: 767px)
			margin-top 20px
		&__item
			margin-bottom 40px
			float left
			text-align center
			width 12.5%
			@media screen and (max-width: 992px)
				width 25%
			@media screen and (max-width: 767px)
				width 50%
				min-height 180px
				margin-bottom 0
			img
				margin-bottom 25px
			p
				font-size 17px
				@extend .f--oswald
				font-weight 300
	.title
		h1
			color #86a1b4
		&--section
			border-bottom 1px solid #ccc
			margin-bottom 10px
	.destaque
		@extend .f--oswald
		font-weight bold
		font-size 80px
		text-align center
		text-transform uppercase
		margin 50px 0 90px
		color #86a1b4
.cases
	background #e1e6ec
	.url
		background #333
		text-transform uppercase
		color #fff
		font-size 18px
		padding 10px 20px
		transition 0.3s
		text-decoration none
		margin-top 50px
		float left
		&:hover
			opacity 0.9
			transition 0.3s
	&__bg
		height 880px
		background url('../img/graph.png') no-repeat center bottom
		@media screen and (max-width: 992px)
			height auto
			padding-bottom 40px
		.title
			h1
				color #333
				@media screen and (max-width: 767px)
					text-align center
			&--section
				border-bottom 1px solid #b5b9be
				margin-bottom 10px
		.box
			background rgba(255,255,255, 0.7)
			padding 0 27px 62px 50px
			margin-top 30px
			.title
				text-align right
				h1
					font-weight 300
					@extend .f--oswald
					font-size 52px
					@media screen and (min-width: 1200px)
						font-size 82px
					@media screen and (max-width: 992px)
						font-size 42px	
					span
						text-transform uppercase
						@extend .f--oswald
						font-weight bold
						font-size 63px
						@media screen and (min-width: 1200px)
							font-size 93px
						@media screen and (max-width: 992px)
							font-size 53px
						@media screen and (max-width: 767px)
							display block
			.content
				margin-top 30px
				p
					font-size 20px
					@extend .f--oswald
					font-weight 300
					margin-bottom 20px
					&:last-child
						margin-bottom 0
					strong
						@extend .f--oswald
		.circle-bg
			background #E1E6EC
			.url
				background #333
				text-transform uppercase
				color #fff
				font-size 18px
				padding 10px 20px
				transition 0.3s
				text-decoration none
				margin-top 50px
				margin 0 auto
				display inline-block
				width 100%
				text-align center
				margin-top 20px
				float none
		.circle
			padding-right 40px
			@media screen and (max-width: 767px)
				width 45%
				margin 10px auto 20px
				padding 0
			img
				-webkit-border-radius 50%
				-moz-border-radius 50%
				-ms-border-radius 50%
				border-radius 50%
	&__nav
		margin-top 20px
		.circle
			cursor pointer
			float left
			padding 0 6px
			transition 0.3s
			width 10%
			padding 0 6px
			@media screen and (max-width: 992px)
				width 20%
				padding 0 10px
				margin-bottom 15px
			img
				-webkit-filter grayscale(100%)
				-moz-filter grayscale(100%)
				-ms-filter grayscale(100%)
				filter grayscale
				width 100%
				height auto
				transition 0.2s
				border-color #A3CDD6
				border-width 0px
				border-style solid
				&:hover
					transition 0.2s
					-webkit-filter grayscale(0%)
					-moz-filter grayscale(0%)
					-ms-filter grayscale(0%)
					filter grayscale(0%)
		.active
			transition 0.2s
			img
				transition 0.2s
				-webkit-filter grayscale(0%)
				-moz-filter grayscale(0%)
				-ms-filter grayscale(0%)
				filter grayscale(0%)
				border-color #A3CDD6
				border-width 5px
				border-style solid
.planos
	.form
		input,
		textarea
			border-color #ccc !important
	&__bg
		height 680px
		background-image url('../img/bg6.jpg')
		@extend .cover
		.title
			h1
				color #fff
			&--section
				border-bottom 1px solid #6b747a
				margin-bottom 10px
		.table--planos
			position relative
			.box
				display none
				position absolute
				left 0
				top 0
				z-index 10
				width 100%
				height 100%
				padding-top 40px
				.terms
					text-align center
					margin-top -14px
					background transparent
					span
						color #666
						a
							color #18b1d3
							&:hover
								text-decoration underline
				&__close
					right 0
					cursor pointer
					top -27px
					background #fff
					text-align center
					width 36px
					height 27px
					font-size 28px
					font-weight 600
					@extend .f--oswald
					position absolute
					line-height 23px
				h1
					font-size 58px
					font-weight 600
					text-transform uppercase
					margin-bottom 20px
					@extend .f--oswald
				[class*="col"]
					border 0
					padding 0 15px
			.row,
			[class*="col"]
				background inherit
			[class*="col"]
				padding 0 6px
				border 0.5px solid #3e4246
				border-top 0
				border-left 0
				border-bottom 0
				&:last-child
					border 0
			.box
				background #fff
			.cell
				padding 11px 0
				height 50px
				color #fff
				font-weight 300
				font-size 18px
				@media screen and (max-width: 992px)
					font-size 15px
				@media screen and (max-width: 767px)
					font-size 13px
				&--especial
					padding 0 10px
					height 70px
					button 
						width 100%
						padding 3px
						-webkit-border-radius 10px
						-moz-border-radius 10px
						-ms-border-radius 10px
						border-radius 10px
						margin 15px 0
				&--title
					height 85px
					padding 20px 0
					text-align center
					font-size 30px
					.detail
						font-size 12px
						margin-top -4px
						color #fff
						display block
					@media screen and (max-width: 992px)
						font-size 24px
					@media screen and (max-width: 767px)
						height 65px
						font-size 14px
					&-logo
						height 85px
						font-size 30px
						@media screen and (max-width: 767px)
							height 65px
						img
							padding 3px 0
							@media screen and (max-width: 767px)
								width 100%
				img
					margin -7px 5px 0 10px
					
					@media screen and (min-width: 1200px)
						margin -7px 20px 0 30px
					@media screen and (max-width: 767px)
						margin 0

			.one
				@extend .f--oswald
				font-weight 400
				text-align left
				padding-left 15px
				font-size 20px
				@media screen and (max-width: 992px)
					font-size 16px
				@media screen and (max-width: 767px)
					font-size 12px
			.line
				height 1px 
				margin 1px 0
				background #b2b2b2
			
.multidevice
	.window
		.cover
			&:hover
				.shadow,
				.content
					opacity 0
					transition 0.3s
	.owl-carousel
		.owl-dots
			top -102px
			right 0
			text-align right
			.owl-dot.active
				background #939393
				border-color #939393
			.owl-dot
				background #424242
				border-color #424242
	.title
		color #333333
		&--section
			//border-bottom 1px solid #85a6ba
			border-bottom 1px solid darken(#ebf9ff, 5%)
	&__bg
		padding-bottom 20px
		//background #86a1b4
		background #ebf9ff
	.list
		@media screen and (max-width: 767px)
			margin-bottom 40px
		&__item
			margin-bottom 12px
			min-height 75px
			.bullet
				float left
				margin-right 15px
				.circle
					//background #333
					background #86a1b4
					height 75px
					width 75px
					-webkit-border-radius 50%
					-ms-border-radius 50%
					-moz-border-radius 50%
					border-radius 50%
					display table-cell
					vertical-align middle
					text-align center
			.text
				@extend .f--oswald
				font-weight 300
				font-size 18px
				float left
				@media screen and (max-width: 992px)
					float none
				span
					@extend .f--oswald
					margin-top 12px
					font-size 18px
					text-transform uppercase
					display block
		&__item.active
			.circle
				background #80ccec
.contact
	&__bg
		background #333
	&__content
		padding 30px 0
	.title
		&--section
			border-bottom 1px solid #666
			margin 0
			h1
				color #fff
	.form 
		input,
		textarea
			color #fff
	.address
		color #fff
		line-height 24px
		text-transform uppercase
		font-size 18px
		@media screen and (max-width: 767px)
			font-size 16px
			padding 0 20px
		a
			color #14AED0
			text-decoration none
	.form-content
		color #fff
		margin-top 1px
		@media screen and (max-width: 767px)
			padding 0 15px
			margin-top 60px
		h1
			font-size 32px
			font-weight 300
			text-transform uppercase
			margin 0 0 30px
		textarea
			height 100px
	.media
		a
			margin-right 8px
			transition 0.3s
			&:last-child
				margin-right 0
			&:hover
				transition 0.3s
				opacity 0.7
	.menu-footer
		margin-top 70px
		@media screen and (max-width: 767px)
			margin-top 50px
			text-align center
		span
			color #fff
			display block
			text-transform uppercase
			font-size 12px
			margin-bottom 7px
		ul
			padding 0
			margin 11px 0 0
			float left
			li
				display block
				a
					color #fff
					font-weight 400
					font-size 12px
					@extend .f--oswald
					text-transform uppercase
	.copy
		color #fff
		text-transform uppercase
		font-size 12px
		text-align center
		margin-top 20px
		padding 20px
		border-top 1px solid #444
.beneficios
	.title
		&--section
			border-bottom 1px solid #666
	&__destaque
		@extend .f--oswald
		font-weight bold
		font-size 54px
		text-transform uppercase
		span
			@extend .f--oswald
			line-height 125px
			font-size 88px
	&__bg
		height 690px
		@media screen and (max-width: 992px)
			height auto
			padding-bottom 80px
		@media screen and (min-width: 993px)
			.window
				&__square
					.cover
						.content,
						.shadow
							transition 0.3s
						&:hover
							.content,
							.shadow
								opacity 0
								transition 0.3s
		.title
			span
				color #fff
				font-size 14px
				font-weight 300
				line-height 16px
				display block
				position absolute
				text-align center
				width 175px
				cursor pointer
			&-business
				@media screen and (min-width: 1200px) 
					bottom 24%
					left 9.5%
				@media screen and (min-width: 992px) and (max-width: 1199px)
					bottom 24%
					left 9%
				@media screen and (min-width: 767px) and (max-width: 991px)
					bottom 24%
					left 9%
				span
					margin-left -56px
			&-multidevices
				@media screen and (min-width: 1200px)
					top 24%
					left 28%
				@media screen and (min-width: 992px) and (max-width: 1199px)
					top 24%
					left 27%
				@media screen and (min-width: 767px) and (max-width: 991px)
					top 24%
					left 27%
				span
					margin-left -56px
			&-dashboard
				@media screen and (min-width: 1200px)
					bottom 24%
					left 44.5%
				@media screen and (min-width: 992px) and (max-width: 1199px)
					bottom 24%
					left 43%
				@media screen and (min-width: 767px) and (max-width: 991px)
					bottom 24%
					left 43%
				span
					margin-left -52px
			&-auto
				@media screen and (min-width: 1200px)
					top 24%
					left 61%
				@media screen and (min-width: 992px) and (max-width: 1199px)
					top 24%
					left 59.5%
				@media screen and (min-width: 767px) and (max-width: 991px)
					top 24%
					left 59.5%
				span
					margin-left -46px
			&-infra
				@media screen and (min-width: 1200px)
					bottom 26%
					left 78%
				@media screen and (min-width: 992px) and (max-width: 1199px)
					bottom 24%
					left 76.5%
				@media screen and (min-width: 767px) and (max-width: 991px)
					bottom 24%
					left 76.5%
				span
					margin-left -43px
		svg
			enable-background: new 0 0 651 364
			.st0
				fill #4A5067
			.st1
				fill #4A85B2
			.st2
				fill #82CDEC
			.st3
				fill #1D5B93
			.st4
				fill #0197C0
#mapa
	width 100%
	height 400px
	@media screen and (max-width: 767px)
		height 200px