doctype html
html(lang='pt-BR', ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        title Content Hub

        link(href='components/animate.css/animate.min.css', rel='stylesheet')
        link(href='components/owl.carousel/dist/assets/owl.carousel.min.css', rel='stylesheet')
        link(href='components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/main.css', rel='stylesheet')

        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->

    body(ng-controller="MainCtrl")
        .blank.fadeOut
        .wrap
            <!--banner-->
            section.banner.banner--404
                .owl-carousel.owl-carousel-banner
                    .item(class="cover", style="background-image:url(img/bg.jpg)")
                        .item__filter
                        .container
                            .row
                                .col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3
                                    img.logomax.hidden-xs(src="img/logo-max.png")
                                    .title.hidden-xs
                                        h1 404
                                        h2 Página não encontrada, clique no botão abaixo para voltar para a navegação.
                .container.banner_buttons.animation--fix
                    .row
                        .col-md-4.col-sm-4.col-md-offset-4.col-sm-offset-4
                            a(href="/")
                                button.button.button--main.button--w-100 Voltar ao site

        script(src='components/jquery/dist/jquery.min.js')
        script(src='components/jquery-ui/jquery-ui.min.js')
        script(src='components/angular/angular.min.js')
        script(src='js/app.js')
        script(src='js/maps.js')
        script(src='js/controller/controller.js')
        script(src='components/bootstrap/dist/js/bootstrap.min.js')
        script(src='components/owl.carousel/dist/owl.carousel.min.js')
        script(src='components/vivus/dist/vivus.min.js')
        script(src='js/main.js')