doctype html
html(lang='pt-BR', ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        meta(name="author", content="ContentHub")
        meta(name="generator", content="ContentHub")
        meta(name="copyright", content="2016, www.contenthub.com")
        meta(name="rating", content="general")
        meta(name="distribution", content="global")
        meta(name="robots", content="index,follow")
        meta(name="site-url", content="http://www.contenthub.com")
        meta(name="description", content="Content HUB Premium CMS - Plataforma para gestão de conteúdo, automatizada para gerar negócios e planejada para estabelecer alto engajamento com a audiência.")
        meta(name="keywords", content="contenthub, cms, gerenciador, website, site")

        meta(property="og:image:height", content="250")
        meta(property="og:image:width", content="300")

        meta(property="og:type", content="website")
        meta(property="og:title", content="ContentHub")
        meta(property="og:site_name", content="ContentHub")
        meta(property="og:description", content="Content HUB Premium CMS - Plataforma para gestão de conteúdo, automatizada para gerar negócios e planejada para estabelecer alto engajamento com a audiência.")
        meta(property="og:locale", content="pt_BR")
        meta(property="og:url", content="http://www.contenthub.com")
        
        title Content Hub
        link(href='components/animate.css/animate.min.css', rel='stylesheet')
        link(href='components/owl.carousel/dist/assets/owl.carousel.min.css', rel='stylesheet')
        link(href='components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/main.css', rel='stylesheet')

        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->

    body(ng-controller="MainCtrl")
        .blank.fadeOut
        .wrap
            <!--banner-->
            section.banner
                .owl-carousel.owl-carousel-banner
                    .item(class="cover", style="background-image:url(img/bg.jpg)")
                        .item__filter
                        .container
                            .row
                                .col-md-10.col-sm-10.col-md-offset-1.col-sm-offset-1
                                    //img.logomax.visible-xs.img-responsive(src="img/logo-max.png")
                                    img.logomax.hidden-xs(src="img/logo-max.png")
                        .title--carousel.hidden-xs
                            h1 Premium CMS orientado a negócios
                            h2 Revolucione sua presença digital
                .container.banner_buttons.animation--fix
                    .row
                        .col-md-4.col-sm-4.col-md-offset-2.col-sm-offset-2
                            button.button.button--main.button--w-100(data-value="beneficios") Benefícios
                        .col-md-4.col-sm-4
                            button.button.button--main.button--w-100(data-value="planos") Planos
            <!--nav-->
            section.header
                .container
                    .row
                        .col-md-12.col-sm-12
                            nav.menu
                                img(src="img/logo.png", data-value="banner") 
                                .menu__open.visible-xs(ng-click="toggleMenu()")
                                    .menu__open__stripes
                                        .stripe
                                        .stripe
                                        .stripe
                                ul.hidden-xs
                                    li(data-value="quemsomos") 
                                        span Quem somos
                                    li(data-value="beneficios") 
                                        span Benefícios
                                    li(data-value="cases")
                                        span Cases
                                    li(data-value="planos")
                                        span Planos
                                    li(data-value="contato")
                                        span Contato
                                ul.visible-xs
                                    li 
                                        span(href="#", ng-click="toggleMenu()") Fechar
                                    li
                                        a(href="#", ng-click="toggleMenu()", data-value="quemsomos") Quem somos
                                    li
                                        a(href="#", ng-click="toggleMenu()", data-value="beneficios") Benefícios
                                    li
                                        a(href="#", ng-click="toggleMenu()", data-value="cases") Cases
                                    li
                                        a(href="#", ng-click="toggleMenu()", data-value="planos") Planos
                                    li
                                        a(href="#", ng-click="toggleMenu()", data-value="contato") Contato
                                .clear
            <!--quemsomos-->
            section.quemsomos
                .quemsomos__bg
                    .title.title--section
                        .container
                            .row
                                .col-md-12
                                    h1 Quem Somos
                    .container.content
                        .row
                            .col-lg-6.col-md-6.col-sm-6
                                h1 QUEM SOMOS E A RAZÃO DE EXISTIRMOS
    
                                p.
                                    O Grupo Media Response é formado por empresas que trabalham de forma segmentada para as principais agências de comunicação e anunciantes da América Latina, simplificando a execução de mídia e a operação de projetos digitais.

                                p.
                                    Sempre quebrando barreiras, o Grupo acumula experiência em lançar empresas disruptivas e se mantem vivo a mais de 10 anos no mercado de tecnologia.
                            .col-lg-6.col-md-6.col-sm-6
                                h1 POR QUE CRIAMOS O CONTENT HUB?
                                p.
                                    Com o propósito de centralizar demandas essenciais de clientes e produtores de conteúdo profissional, mantendo-se atualizado com os últimos avanços tecnológicos, o Grupo Media Response mais uma vez inovou trazendo ao mercado uma solução economicamente viável, automatizada e orientada a negócio.
                                p.
                                    A plataforma se destina à empresas e marcas que necessitam estruturar ou profissionalizar sua gestão de comunicação digital.

                    img.margin--center.timeline.hidden-xs.hidden-sm(src="img/timeline.png")
                    .container
                        .row
                            .col-lg-12
                                h2.destaque “NOSSA MISSÃO É AJUDAR AGÊNCIAS E ANUNCIANTES A TRANSFORMAR A COMPLEXIDADE DO MUNDO DIGITAL EM ALGO SIMPLES DE ENTENDER E EXECUTAR."
                                img.media-logo(src="img/media-logo.png")
            <!--beneficios-->
            section.beneficios
                .beneficios__bg
                    .title.title--section
                        .container
                            .row
                                .col-md-12
                                    h1 Benefícios
                    .container
                        .row
                            .col-lg-5.col-md-5.col-sm-5
                                h1.beneficios__destaque 
                                    | Conheça
                                    br
                                    span Nossos
                                    br
                                    | Benefícios
                            .col-lg-7.col-md-7.col-sm-7
                                .window
                                    .window__square(data-value="multidevices")
                                        .cover.open(style="background-image:url(img/beneficios/1.png)") 
                                            .content
                                                .content__center
                                                    img(src="img/beneficios/i1.png")
                                                    br
                                                    | Multidevice
                                            img.shadow(src="img/beneficios/shadow.png")
                                    .window__square(data-value="automacao")
                                        .cover.open(style="background-image:url(img/beneficios/2.png)") 
                                            .content
                                                .content__center
                                                    img(src="img/beneficios/i2.png")
                                                    br
                                                    | Automação
                                            img.shadow(src="img/beneficios/shadow.png")
                                    .window__square(data-value="business")
                                        .cover.open(style="background-image:url(img/beneficios/3.png)") 
                                            .content
                                                .content__center
                                                    img(src="img/beneficios/i3.png")
                                                    br
                                                    | Negócios
                                            img.shadow(src="img/beneficios/shadow.png")
                                    .window__square(data-value="dashboard")
                                        .cover.open(style="background-image:url(img/beneficios/4.png)") 
                                            .content
                                                .content__center
                                                    img(src="img/beneficios/i4.png")
                                                    br
                                                    | Dashboard
                                            img.shadow(src="img/beneficios/shadow.png")
                                    .window__square(data-value="infraestrutura")
                                        .cover.open(style="background-image:url(img/beneficios/5.png)") 
                                            .content
                                                .content__center
                                                    img(src="img/beneficios/i5.png")
                                                    br
                                                    | Infraestrutura
                                            img.shadow(src="img/beneficios/shadow.png")
                                    .window__square(data-value="cases")
                                        .cover.open(style="background-image:url(img/beneficios/6.png)") 
                                            .content
                                                .content__center
                                                    img(src="img/beneficios/i6.png")
                                                    br
                                                    | Cases
                                            img.shadow(src="img/beneficios/shadow.png")
            <!--multidevice-->
            section.multidevice
                .multidevice__bg
                    .title.title--section
                        .container
                            .row
                                .col-md-12
                                    h1 Multidevice
                    .container
                        .row
                            .col-lg-5.col-md-5.col-sm-5
                                .list
                                    .list__item(data-target="0")
                                        .bullet
                                            .circle
                                                img(src="img/multidevice/i1.png")
                                        .text
                                            span Layout
                                            | 100% responsivo
                                    .list__item(data-target="1")
                                        .bullet
                                            .circle
                                                img(src="img/multidevice/i2.png")
                                        .text
                                            span Dashboard Responsivo
                                            | Para gestão de conteúdo
                                    .list__item(data-target="2")
                                        .bullet
                                            .circle
                                                img(src="img/multidevice/i3.png")
                                        .text
                                            span Baixa taxa de bounce rate
                                            |  Boa experiência para sua audiência em qualquer device
                                    .list__item(data-target="3")
                                        .bullet
                                            .circle
                                                img(src="img/multidevice/i4.png")
                                        .text
                                            span Scroll infinito
                                            | Navegação inteligente focada na retenção da audiência
                            .col-lg-7.col-md-7.col-sm-7.col-xs-12
                                img.img-responsive(src="img/multidevice/1.png")
              
            <!--auto-->
            section.auto
                .auto__bg
                    .title.title--section
                        .container
                            .row
                                .col-md-12
                                    h1 Automação
                    .container
                        .row
                            .col-lg-4.col-md-4.col-sm-4.hidden-xs
                                .window
                                    .window__square.active(data-target="0")
                                        .cover.open
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i3.png")
                                                    p AGENDAMENTO DE PUBLICAÇÃO DE POSTS
                                            img.size(src="http://placehold.it/165x145")
                                        .cover.active
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i3a.png")
                                                    p AGENDAMENTO DE PUBLICAÇÃO DE POSTS
                                            img.size(src="http://placehold.it/165x145")
                                    .window__square(data-target="1")
                                        .cover.open
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i8.png")
                                                    p COMPARTILHAMENTO SOCIAL (FACEBOOK +TWITTER)
                                            img.size(src="http://placehold.it/165x145")
                                        .cover.active
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i8a.png")
                                                    p COMPARTILHAMENTO SOCIAL (FACEBOOK +TWITTER)
                                            img.size(src="http://placehold.it/165x145")
                                    .window__square(data-target="2")
                                        .cover.open 
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i1.png")
                                                    p DESTAQUE NA HOME PARA AS ÚLTIMAS PUBLICAÇÕES DE SEUS CANAIS SOCIAIS

                                            img.size(src="http://placehold.it/165x145")
                                        .cover.active
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i1a.png")
                                                    p DESTAQUE NA HOME PARA AS ÚLTIMAS PUBLICAÇÕES DE SEUS CANAIS SOCIAIS

                                            img.size(src="http://placehold.it/165x145")
                                    .window__square(data-target="3")
                                        .cover.open 
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i2.png")
                                                    p BOTÃO DE SEGUIR E CONTAGEM DE USUÁRIOS NAS REDES SOCIAIS
                                            img.size(src="http://placehold.it/165x145")
                                        .cover.active
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i2a.png")
                                                    p BOTÃO DE SEGUIR E CONTAGEM DE USUÁRIOS NAS REDES SOCIAIS
                                            img.size(src="http://placehold.it/165x145")
                                
                                    .window__square(data-target="4")
                                        .cover.open 
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i4.png")
                                                    p INTEGRAÇÃO COM EVENTOS CRIADOS NO FACEBOOK E GOOGLE CALENDAR
                                            img.size(src="http://placehold.it/165x145")
                                        .cover.active
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i4a.png")
                                                    p INTEGRAÇÃO COM EVENTOS CRIADOS NO FACEBOOK E GOOGLE CALENDAR
                                            img.size(src="http://placehold.it/165x145")
                                    .window__square(data-target="5")
                                        .cover.open 
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i5.png")
                                                    p PÁGINAS EXCLUSIVAS COM CARREGAMENTO DO CONTEÚDO DAS REDES SOCIAIS
                                            img.size(src="http://placehold.it/165x145")
                                        .cover.active
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i5a.png")
                                                    p PÁGINAS EXCLUSIVAS COM CARREGAMENTO DO CONTEÚDO DAS REDES SOCIAIS
                                            img.size(src="http://placehold.it/165x145")
                                
                                    .window__square(data-target="6")
                                        .cover.open
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i6.png")
                                                    p BOTÃO DE COMPARTILHAMENTO COM INTEGRAÇÃO PARA MOBILE
                                            img.size(src="http://placehold.it/165x145")
                                        .cover.active
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i6a.png")
                                                    p BOTÃO DE COMPARTILHAMENTO COM INTEGRAÇÃO PARA MOBILE
                                            img.size(src="http://placehold.it/165x145")

                                    .window__square(data-target="7")
                                        .cover.open 
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i7.png")
                                                    p COMENTÁRIOS INTEGRADOS COM OS USUÁRIOS LOGADOS NO FACEBOOK
                                            img.size(src="http://placehold.it/165x145")
                                        .cover.active
                                            .content
                                                .content__center
                                                    img(src="img/automacao/i7a.png")
                                                    p COMENTÁRIOS INTEGRADOS COM OS USUÁRIOS LOGADOS NO FACEBOOK
                                            img.size(src="http://placehold.it/165x145")
                            .col-lg-8.col-md-8.col-sm-8.hidden-xs(style="position: relative")
                                .owl-carousel.owl-carousel-auto(style="width:805px")
                                    .item(data-content="0")
                                        img(src="img/automacao/01.png")
                                    .item(data-content="1")
                                        img(src="img/automacao/02.png")
                                    .item(data-content="2")
                                        img(src="img/automacao/03.png")
                                    .item(data-content="3")
                                        img(src="img/automacao/04.png")
                                    .item(data-content="4")
                                        img(src="img/automacao/05.png")
                                    .item(data-content="5")
                                        img(src="img/automacao/06.png")
                                    .item(data-content="6")
                                        img(src="img/automacao/07.png")
                                    .item(data-content="7")
                                        img(src="img/automacao/08.png")
                            .col-xs-12.visible-xs
                                .window
                                    .content
                                        img.icon(src="img/automacao/i3a.png")
                                        p AGENDAMENTO DE PUBLICAÇÃO DE POSTS
                                        img.image(src="img/automacao/01.png")
                                    .content
                                        img.icon(src="img/automacao/i8a.png")
                                        p COMPARTILHAMENTO SOCIAL (FACEBOOK +TWITTER)
                                        img.image(src="img/automacao/02.png")
                                    .content
                                        img.icon(src="img/automacao/i1a.png")
                                        p DESTAQUE NA HOME PARA AS ÚLTIMAS PUBLICAÇÕES DE SEUS CANAIS SOCIAIS
                                        img.image(src="img/automacao/03.png")
                                    .content
                                        img.icon(src="img/automacao/i2a.png")
                                        p BOTÃO DE SEGUIR E CONTAGEM DE USUÁRIOS NAS REDES SOCIAIS
                                        img.image(src="img/automacao/04.png")
                                    .content
                                        img.icon(src="img/automacao/i4a.png")
                                        p NTEGRAÇÃO COM EVENTOS CRIADOS NO FACEBOOK E GOOGLE CALENDAR
                                        img.image(src="img/automacao/05.png")
                                    .content
                                        img.icon(src="img/automacao/i5a.png")
                                        p PÁGINAS EXCLUSIVAS COM CARREGAMENTO DO CONTEÚDO DAS REDES SOCIAIS
                                        img.image(src="img/automacao/06.png")
                                    .content
                                        img.icon(src="img/automacao/i6a.png")
                                        p BOTÃO DE COMPARTILHAMENTO COM INTEGRAÇÃO PARA MOBILE
                                        img.image(src="img/automacao/07.png")
                                    .content
                                        img.icon(src="img/automacao/i7a.png")
                                        p COMENTÁRIOS INTEGRADOS COM OS USUÁRIOS LOGADOS NO FACEBOOK
                                        img.image(src="img/automacao/08.png")
            <!--orientacao-->
            section.orientacao
                .orientacao__bg
                    .title.title--section
                        .container
                            .row
                                .col-md-12
                                    h1 Orientação a negócios
                    .orientacao__list
                        .container
                            .row
                                .col-lg-4.col-md-4.col-sm-4.orientacao__list__item
                                    h1 Mídia kit white label estruturado
                                    p Formatos de patrocínio, Banners display e Publipost
                                    
                                .col-lg-4.col-md-4.col-sm-4.orientacao__list__item
                                    h1 Integração com AD Servers de mercado
                                    p DFA, DFP, dentre outros

                                .col-lg-4.col-md-4.col-sm-4.orientacao__list__item
                                    h1 Publicação de posts estratégicos
                                    p 
                                        | Post Oculto, Publipost e Privado
                                    //p 
                                        | Publique apenas para quem você deseja. 
                                        | De maneira simples, publique posts patrocinados. 
                                        | Apenas usuários logados podem ter acesso a esse conteúdo.


                                .col-lg-4.col-md-4.col-sm-4.orientacao__list__item
                                    h1 Tag Manager
                                    p Simples integração com sistemas de afiliados: AdNetworks, SSP’s e DMP’s

                                .col-lg-4.col-md-4.col-sm-4.orientacao__list__item
                                    h1 Páginas de conversão 
                                    p Possua páginas para geração de vendas e leads integradas ao seu conteúdo

                                .col-lg-4.col-md-4.col-sm-4.orientacao__list__item
                                    h1 Navegação 3.0
                                    p UX/ Design touch screen first + scroll infinito 

                                .col-lg-4.col-md-4.col-sm-4.orientacao__list__item
                                    h1 Analytics
                                    p Integração com Google Analytics, dentre outros 

                                .col-lg-4.col-md-4.col-sm-4.orientacao__list__item
                                    h1 Flexibilidade
                                    p Adaptável a modelos de negócio por indústria

                                .col-lg-4.col-md-4.col-sm-4.orientacao__list__item
                                    h1 Integrações via API
                                    p Plataforma preparada para integrar-se com outros sistemas

            <!--dashboard-->
            section.dashboard
                .dashboard__bg
                    .title.title--section
                        .container
                            .row
                                .col-md-12
                                    h1 DASHBOARD SIMPLES E SOFISTICADO
                    .container
                        .row
                            .col-lg-6.col-md-6.col-sm-6.padding--right-0.hidden-xs
                                .window
                                    .window__square.active(data-target="0")
                                        h1 INTERFACE AMIGÁVEL PARA PUBLICAÇÃO E GESTÃO DE CONTEÚDO
                                            
                                    .window__square(data-target="1")
                                        h1 GESTÃO SIMPLIFICADA PARA CATEGORIAS E SUBCATERIAS
                                            
                                    .window__square(data-target="2")
                                        h1 GESTÃO DE ACESSO A CONTAS EM DIFERENTES NÍVEIS 

                                    .window__square(data-target="3")
                                        h1 POSSIBILIDADE DE GERIR MÚLTIPLOS PORTAIS

                                    .window__square(data-target="4")
                                        h1 DASHBOARD EM TRÊS IDIOMAS
   
                                    .window__square(data-target="5")
                                        h1 GERENCIADOR DE SLIDER

                                    .window__square(data-target="6")
                                        h1 GALERIA DE IMAGENS 
                            .col-lg-6.col-md-6.col-sm-6.padding--left-0.hidden-xs(style="position: relative")
                                .owl-carousel.owl-carousel-dashboard(style="position: absolute;width: 735px;left: 0")
                                    .item(data-content="0")
                                        img(src="img/dash/1.png")
                                    .item(data-content="1")
                                        img(src="img/dash/2.png")
                                    .item(data-content="2")
                                        img(src="img/dash/3.png")
                                    .item(data-content="3")
                                        img(src="img/dash/4.png")
                                    .item(data-content="4")
                                        img(src="img/dash/5.png")
                                    .item(data-content="5")
                                        img(src="img/dash/6.png")
                                    .item(data-content="6")
                                        img(src="img/dash/7.png")
                            .col-xs-12.visible-xs
                                .window
                                    .content
                                        h1 INTERFACE AMIGÁVEL PARA PUBLICAÇÃO E GESTÃO DE CONTEÚDO
                                        img(src="img/dash/1.png")
                                    .content
                                        h1 GESTÃO SIMPLIFICADA PARA CATEGORIAS E SUBCATERIAS
                                        img(src="img/dash/2.png")
                                    .content
                                        h1 GESTÃO DE ACESSO A CONTAS EM DIFERENTES NÍVEIS 
                                        img(src="img/dash/3.png")
                                    .content
                                        h1 POSSIBILIDADE DE GERIR MÚLTIPLOS PORTAIS
                                        img(src="img/dash/4.png")
                                    .content
                                        h1 DASHBOARD EM TRÊS IDIOMAS
                                        img(src="img/dash/5.png")
                                    .content
                                        h1 GERENCIADOR DE SLIDER
                                        img(src="img/dash/6.png")
                                    .content
                                        h1 GALERIA DE IMAGENS 
                                        img(src="img/dash/7.png")
    
            <!--infra-->
            section.infra
                .infra__bg
                    .title.title--section
                        .container
                            .row
                                .col-md-12
                                    h1 INFRAESTRUTURA
                    .container
                        .row
                            .col-lg-12
                                h1.destaque.hidden-xs Infraestrutura e segurança
                                .infra__list
                                    .infra__list__item
                                        img(src="img/infra/1.png")
                                        p Servidores seguros e exclusivos
                                    .infra__list__item
                                        img(src="img/infra/2.png")
                                        p Capacidade de alta escala
                                    .infra__list__item
                                        img(src="img/infra/3.png")
                                        p Estabilidade do tempo de resposta
                                    .infra__list__item
                                        img(src="img/infra/4.png")
                                        p 100% homologada com os frameworks do Google
                                    .infra__list__item
                                        img(src="img/infra/5.png")
                                        p Desenvolvida nas mais modernas tecnologias do mercado
                                    .infra__list__item
                                        img(src="img/infra/6.png")
                                        p Servidores Amazon - EC2/S3
                                    .infra__list__item
                                        img(src="img/infra/7.png")
                                        p FRAMEWORKS: NODE JS, AngularJS
                                    .infra__list__item
                                        img(src="img/infra/8.png")
                                        p Banco de dados: NOSQL
                                    .clear
            <!--cases-->
            section.cases
                .cases__bg
                    .title.title--section
                        .container
                            .row
                                .col-md-12
                                    h1 CASES
                    .container.hidden-xs
                        .row
                            .col-md-12
                                nav.cases__nav
                                    .circle.active(data-target="0")
                                        img(src="img/cases/1.jpg")
                                    .circle(data-target="1")
                                        img(src="img/cases/2.png")
                                    .circle(data-target="2")
                                        img(src="img/cases/3.png")
                                    .circle(data-target="3")
                                        img(src="img/cases/4.png")
                                    .circle(data-target="4")
                                        img(src="img/cases/5.png")
                                    .circle(data-target="5")
                                        img(src="img/cases/6.png")
                                    .circle(data-target="6")
                                        img(src="img/cases/7.png")
                                    .circle(data-target="7")
                                        img(src="img/cases/8.png")
                                    .circle(data-target="8")
                                        img(src="img/cases/9.png")
                                    .circle(data-target="9")
                                        img(src="img/cases/10.png")
                                    .clear
                    .owl-carousel.owl-carousel-cases
                        .item
                            .container
                                .row
                                    .col-md-12.visible-xs
                                        .circle-bg
                                            .circle
                                                img(src="img/cases/1.jpg")
                                                a.url(href="http://marimoon.com.br/", target="_blank") Visite o site
                                    .col-md-12
                                        .box
                                            .row
                                                .col-md-12
                                                    a.url.hidden-xs(href="http://marimoon.com.br/", target="_blank") Visite o site
                                                    .title
                                                        h1
                                                            span MARIMOON
                                            .row
                                                .col-lg-9.col-md-9.col-sm-9
                                                    .content
                                                        p.
                                                            MariMoon é uma das principais influenciadoras do Brasil, e a primeira blogueira famosa do país a sair da web para a televisão. Sua popularidade expressa em seu DNA de comunicadora além de  toda sua experiência no mercado de internet, contribuiu de forma direta para o desenvolvimento das principais ferramentas da plataforma Content Hub, que fazem seu portal ser um dos mais profissionais e relevantes do mercado.
                                                        p.
                                                            O relacionamento com MariMoon surgiu para suprir uma necessidade relacionada à infraestrutura que seu blog anterior possuía. Além de importar  mais de 6 anos de conteúdo produzido, oferecemos a ela, servidores elásticos e estáveis, bouce rate abaixo de 1% e mais facilidades relacionadas à publicação automatizada nas redes sociais, para que sua equipe de editores possa manter o conteúdo sempre atualizado e organizado para que o mercado reconheça a qualidade do seu trabalho. 
                                                        p.
                                                            MariMoon ainda contou com assistência para montar um plano de negócio e mídia kit que apresenta todos os espaços de publicidade disponíveis, projetos especiais e preços, inseridos de forma estratégica na navegação de seu portal para gerar melhor experiência a sua comunidade e marcas.

                                                .col-lg-3.col-md-3.col-sm-3.hidden-xs
                                                    .circle
                                                        img(src="img/cases/1.jpg")
                        .item
                            .container
                                .row
                                    .col-md-12.visible-xs
                                        .circle-bg
                                            .circle
                                                img(src="img/cases/2.png")
                                    .col-md-12
                                        .box
                                            .row
                                                .col-md-12
                                                    .title
                                                        h1
                                                            span E. Group
                                            .row
                                                .col-lg-9.col-md-9.col-sm-9
                                                    .content
                                                        p.
                                                            O E-Group responsável por reunir hotéis e serviços para um nicho de clientes que se caracterizam como viajantes, aventureiros e esportistas, que em comum valorizam a consciência socioambiental, sentiu a necessidade de se manter atualizado em relação às novas tecnologias. Buscou a plataforma Content Hub para resolver suas principais demandas relacionadas à presença digital em mobile e suporte tecnológico para integrar ferramentas relativas à reservas, através de um sistema gerenciador de conteúdo simples e unificado, que lhe permita administrar os sites das suas quatro empresas em apenas um lugar.

                                                        p.
                                                            Percebendo o potencial e relevância da experiência que cada uma das suas empresas possuem e a quantidade de conteúdo exclusivo que geram de maneira espontânea, o E-Group apropriou-se da estrutura planejada do layout da plataforma que explora imagens, volume de conteúdo e integração com as redes sociais, para fortalecer sua marca e os diferenciais de seus serviços, aos seus clientes e mercado.
                                                .col-lg-3.col-md-3.col-sm-3.hidden-xs
                                                    .circle
                                                        img(src="img/cases/2.png")
                        .item
                            .container
                                .row
                                    .col-md-12.visible-xs
                                        .circle-bg
                                            .circle
                                                img(src="img/cases/3.png")
                                                a.url(href="http://sulamiranda.com.br/", target="_blank") Visite o site
                                    .col-md-12
                                        .box
                                            .row
                                                .col-md-12
                                                    a.url.hidden-xs(href="http://sulamiranda.com.br/", target="_blank") Visite o site
                                                    .title
                                                        h1
                                                            span Sula Miranda
                                            .row
                                                .col-lg-9.col-md-9.col-sm-9
                                                    .content
                                                        p.
                                                            Com 30 anos de carreira e muita experiência de vida, a artista Sula Miranda contou com o suporte da plataforma Contente Hub para lançar seu novo portal de 

                                                            conteúdo, e assim abrir novas portas para gerar negócios e se manter presente 

                                                            no mercado digital.

                                                        p.
                                                            Todas as ferramentas de automação relacionadas às redes sociais e ao gerenciamento do conteúdo, permitem que a Sula ganhe tempo e controle de 

                                                            todo o trabalho que está sendo executado. Além disso, não precisa contar com 

                                                            o serviço de agência de publicidade ou terceiros para fechar acordos 

                                                            comerciais ou produzir peças, uma vez que seu portal possui ferramentas de 

                                                            marketing atualizadas e oferece suporte sob demanda.
                                                .col-lg-3.col-md-3.col-sm-3.hidden-xs
                                                    .circle
                                                        img(src="img/cases/3.png")
                        .item
                            .container
                                .row
                                    .col-md-12.visible-xs
                                        .circle-bg
                                            .circle
                                                img(src="img/cases/4.png")
                                                a.url(href="http://www.rubinhopescador.com.br/", target="_blank") Visite o site
                                    .col-md-12
                                        .box
                                            .row
                                                .col-md-12
                                                    a.url.hidden-xs(href="http://www.rubinhopescador.com.br/", target="_blank") Visite o site
                                                    .title
                                                        h1
                                                            span Rubinho Pescador
                                            .row
                                                .col-lg-9.col-md-9.col-sm-9
                                                    .content
                                                        p.
                                                            Com o propósito de fortalecer seu trabalho e alcançar mais patrocinadores, Rubens de Almeida Prado, conhecido como Rubinho Pescador contratou a plataforma Content Hub para organizar todo seu vasto conhecimento e conteúdo produzido para agência, escola de turismo e para o programa de TV Pescaventura além da ONG Doutores das águas.
                                                        p.
                                                            Com um canal digital profissional, planejado com espaços para 

                                                            publicidade e patrocínios de maneira automatizada, permite integração de 

                                                            seus canais de comunicação e proporciona ao Rubinho todo suporte 

                                                            tecnológico necessário para que ele e sua equipe otimize tempo e 

                                                            recursos.
                                                .col-lg-3.col-md-3.col-sm-3.hidden-xs
                                                    .circle
                                                        img(src="img/cases/4.png")
                        .item
                            .container
                                .row
                                    .col-md-12.visible-xs
                                        .circle-bg
                                            .circle
                                                img(src="img/cases/5.png")
                                                a.url(href="http://allyouneedisrock.com.br/", target="_blank") Visite o site
                                    .col-md-12
                                        .box
                                            .row
                                                .col-md-12
                                                    a.url.hidden-xs(href="http://allyouneedisrock.com.br/", target="_blank") Visite o site
                                                    .title
                                                        h1
                                                            span All You Need is Rock
                                            .row
                                                .col-lg-9.col-md-9.col-sm-9
                                                    .content
                                                        p.
                                                            O portal All You Need Is Rock é um case para plataforma Content Hub, 

                                                            pois como produtor de conteúdo, conseguiu transformar seu maior 

                                                            hobbie em trabalho através do suporte tecnológico e a orientação de 

                                                            negócios que a plataforma disponibiliza.
                                                        p.
                                                            O portal responsivo permite fazer publicações via mobile, já integrado 

                                                            com as redes sociais, possui suporte de servidores dedicados que 

                                                            garantem a estabilidade e a disponibilidade para publicações com 

                                                            grandes volumes de imagens, e com isso, enfatiza a oportunidade de 

                                                            maior alcance a repercussão de seu trabalho nas redes sociais.
                                                .col-lg-3.col-md-3.col-sm-3.hidden-xs
                                                    .circle
                                                        img(src="img/cases/5.png")
                        .item
                            .container
                                .row
                                    .col-md-12.visible-xs
                                        .circle-bg
                                            .circle
                                                img(src="img/cases/6.png")
                                    .col-md-12
                                        .box
                                            .row
                                                .col-md-12
                                                    .title
                                                        h1
                                                            span Vila Kalango
                                            .row
                                                .col-lg-9.col-md-9.col-sm-9
                                                    .content
                                                        p.
                                                            O renomeado Vila Kalango, em Jericoacoara, destaca-se no segmento de hotéis de luxo rústico no Brasil, e conta com diferenciais que atraem clientes durante todo o ano, em busca das acomodações aconchegantes em frente à praia, espaços zen e possibilidade de lazer, incluindo a imersão na cultura da região.
                                                        p.
                                                            Com a plataforma Content Hub, o hotel conquistou também uma posição

                                                            destacada no mercado digital em relação aos seus concorrentes.
                                                        p.
                                                            Desenvolvemos a integração com outras plataformas de busca e reserva

                                                            de hospedagem, fundamentais para o negócio. Com isso, passou a integrar o planejamento de comunicação definido pelo E-Group e a ter um ambiente exclusivo, prático e responsivo, para gerenciar conteúdo, que possibilita a administração de acesso a um número determinado de editores e a usuários cadastrados na home do portal.
                                                .col-lg-3.col-md-3.col-sm-3.hidden-xs
                                                    .circle
                                                        img(src="img/cases/6.png")
                        .item
                            .container
                                .row
                                    .col-md-12.visible-xs
                                        .circle-bg
                                            .circle
                                                img(src="img/cases/7.png")
                                    .col-md-12
                                        .box
                                            .row
                                                .col-md-12
                                                    .title
                                                        h1
                                                            span Rancho do Peixe
                                            .row
                                                .col-lg-9.col-md-9.col-sm-9
                                                    .content
                                                        p.
                                                            Com forte cunho social e consciência ambiental, a pousada Rancho do Peixe buscou na plataforma Content Hub, primeiramente uma forma de ter sua comunicação alinhada à do E-Group, e também uma forma de aprimorar o modo como produzia conteúdo e se comunicava com o mercado brasileiro.
                                                        p.
                                                            Com novas facilidades de publicação automatizada nas redes sociais,

                                                            layout planejado para garantir boa experiência ao usuário na navegação

                                                            via mobile, priorizando as imagens que encantam os visitantes e o

                                                            engajamento garantido devido o volume de publicações atualizadas

                                                            constantemente, o portal agora consegue atender suas necessidades

                                                            fundamentais, em relação a comunicação.
                                                        p.
                                                            O suporte de tecnologia para esse modelo de serviço que demanda novas

                                                            atualizações constantes e integrações com outros sites e plataformas,

                                                            conta com profissionais multidisciplinares para trazer soluções a

                                                            diversos aspectos do negócio em questão.
                                                .col-lg-3.col-md-3.col-sm-3.hidden-xs
                                                    .circle
                                                        img(src="img/cases/7.png")
                        .item
                            .container
                                .row
                                    .col-md-12.visible-xs
                                        .circle-bg
                                            .circle
                                                img(src="img/cases/8.png")
                                    .col-md-12
                                        .box
                                            .row
                                                .col-md-12
                                                    .title
                                                        h1
                                                            span Surfinsem
                                                                br.visible-xs
                                                                |fim
                                            .row
                                                .col-lg-9.col-md-9.col-sm-9
                                                    .content
                                                        p.
                                                            O Surfin sem fim surgiu da idéia de um dos fundadores do E-Group que é 

                                                            velejador e viajava constantemente em busca de lugares inexplorados para 

                                                            velejar usando o kite e wind surf .  
                                                        p.
                                                            O serviço oferece uma experiência única para os clientes, traçando rotas para 

                                                            downwinds, usando apenas os ventos constantes e oferecendo uma estrutura 

                                                            completa com apoio por água e terra, durante o trajeto.  As rotas começam em 

                                                            hotéis incríveis, passando por praias maravilhosas, vistas paradisíacas e 

                                                            finalizando em outro hotel. 
                                                        p.
                                                            Assim como o esporte, o projeto Surfin Sem Fim buscou a plataforma Content 

                                                            Hub primeiramente para ter um portal de conteúdo responsivo, que 

                                                            proporcionasse uma navegação dinâmica e organizada e que pudessem 

                                                            publicar e gerir um grande volume de publicações criadas espontaneamente 

                                                            por seus clientes nas redes sociais, além das contribuições de editores 

                                                            parceiros e também de sua equipe de marketing.
                                                .col-lg-3.col-md-3.col-sm-3.hidden-xs
                                                    .circle
                                                        img(src="img/cases/8.png")
                        .item
                            .container
                                .row
                                    .col-md-12.visible-xs
                                        .circle-bg
                                            .circle
                                                img(src="img/cases/9.png")
                                                a.url(href="http://anamariaalvarado.com.mx/", target="_blank") Visite o site
                                    .col-md-12
                                        .box
                                            .row
                                                .col-md-12
                                                    a.url.hidden-xs(href="http://anamariaalvarado.com.mx/", target="_blank") Visite o site
                                                    .title
                                                        h1
                                                            span Ana Maria Alvarado
                                            .row
                                                .col-lg-9.col-md-9.col-sm-9
                                                    .content
                                                        p.
                                                            Ana Maria Alvarado é uma jornalista muito querida no México que escreve

                                                            sobre entretenimento. Trabalhou por mais de 15 anos em um famoso programa 

                                                            de rádio chamado: Todo para la mujer e atualmente participa do programa de 

                                                            televisão: La cuchara.
                                                        p.
                                                            Com a plataforma Content Hub, encontrou diversas facilidades relacionadas à publicação e gestão de seu conteúdo para validar sua popularidade e 

                                                            transformar seu portal em uma revista online, onde os fãs acessam as 

                                                            publicações mais recentes sobre sociedade, vida e estilo, televisão e rádio 

                                                            diariamente, em qualquer device.
                                                        p.
                                                            Com grande volume de publicação, Ana Maria conta com ferramentas como 

                                                            calendário e agendamento de posts para otimizar seu trabalho e vem 

                                                            alcançado cada vez mais seguidores principalmente via mobile.
                                                .col-lg-3.col-md-3.col-sm-3.hidden-xs
                                                    .circle
                                                        img(src="img/cases/9.png")
                        .item
                            .container
                                .row
                                    .col-md-12.visible-xs
                                        .circle-bg
                                            .circle
                                                img(src="img/cases/10.png")
                                                a.url(href="http://viralitube.com/", target="_blank") Visite o site
                                    .col-md-12
                                        .box
                                            .row
                                                .col-md-12
                                                    a.url.hidden-xs(href="http://viralitube.com/", target="_blank") Visite o site
                                                    .title
                                                        h1
                                                            span Viralitube
                                            .row
                                                .col-lg-9.col-md-9.col-sm-9
                                                    .content
                                                        p.
                                                            A idéia do portal surgiu no escritório de um grupo de mídia chileno, que 

                                                            entendeu desde o princípio a importância da produção de grande volume de 

                                                            conteúdo e como as grandes empresas se apropriam das comunidades para 

                                                            divulgarem seus produtos.
                                                        p.
                                                            O portal Viralitube, com ajuda da plataforma Content Hub, busca alcançar 

                                                            relevância no mercado através da audiência. Com todas suas publicações 

                                                            centralizadas em um só ambiente, sua comunidade consegue ter acesso via 

                                                            mobile e assim viralizar o conteúdo produzido também via WhatsApp.
                                                        p.
                                                            Com layout e diversas ferramentas de marketing integradas e planejadas para manter o usuário por mais tempo no portal, a equipe de produção de conteúdo pode contar com diferenciais relacionados à automação, integração com redes sociais, estabilidade de servidores e segurança para gerir seus negócios digitais.
                                                .col-lg-3.col-md-3.col-sm-3.hidden-xs
                                                    .circle
                                                        img(src="img/cases/10.png")

            <!--planos-->
            section.planos
                .planos__bg
                    .title.title--section-2
                        .container
                            .row
                                .col-md-12
                                    h1 Planos
                    .container
                        .row
                            .col-lg-10.col-md-10.col-sm-12.col-lg-offset-1.col-md-offset-1
                                .table--planos
                                    .row
                                        .col-md-12
                                            .row.margin--lr-0
                                                .box
                                                    .box__close x
                                                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                        h1 Solicite 
                                                            br
                                                            | seu portal
                                                        img.img-reponsive(src="img/planos/graph.png")
                                                    .col-lg-5.col-md-5.col-sm-5.col-xs-5
                                                        .alert.alert-danger(ng-show="formPlanos.name.$invalid && formPlanos.name.$dirty") Complete os campos
                                                        .alert.alert-danger(ng-show="formPlanos.email.$invalid && formPlanos.email.$dirty") Complete os campos com dados válidos
                                                        .alert.alert-success(ng-show="f2success == true") Enviado com sucesso
                                                        
                                                        form.form(name="formPlanos")
                                                            input(hidden, type="text", name="plan", ng-model="plano.plan")
                                                            input(class="form-control", ng-class="{'form__item--error': formPlanos.name.$invalid && formPlanos.name.$dirty }", type="text", placeholder="nome *", name="name", ng-model="plano.name", ng-required="true")
                                                            input(class="form-control", ng-class="{'form__item--error': formPlanos.email.$invalid && formPlanos.email.$dirty }", type="email", placeholder="email *", name="email", ng-model="plano.email", ng-required="true")
                                                            input(class="form-control", ng-class="{'form__item--error': formPlanos.phone.$invalid && formPlanos.phone.$dirty }", type="text", placeholder="telefone *", name="phone", ng-model="plano.phone", ng-required="true")
                                                            input(class="form-control", ng-class="{'form__item--error': formPlanos.company.$invalid && formPlanos.company.$dirty }", type="text", placeholder="empresa", name="company", ng-model="plano.company", ng-required="false")
                                                            input(class="form-control", ng-class="{'form__item--error': formPlanos.domain.$invalid && formPlanos.domain.$dirty }", type="text", placeholder="domínio", name="domain", ng-model="plano.domain", ng-required="false")
                                                            textarea(class="form-control", ng-class="{'form__item--error': formPlanos.message.$invalid && formPlanos.message.$dirty }", placeholder="mensagem", name="message", ng-model="plano.message", ng-required="false")
                                                            button(class="btn", ng-disabled="formPlanos.$invalid", ng-click="sendPlano(plano)") enviar
                                                       .col-md-12.terms
                                                            span Ao se inscrever você aceita a nossa 
                                                                a(href="#") Política de Privacidade 
                                                                | e os 
                                                                a(href="#") Termos de Uso

                                                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                                    .cell.cell--title-logo
                                                        img(src="img/logo-min.png")
                                                    .line
                                                    .cell.one PAGE VIEWS
                                                    .line
                                                    .cell.one ENVIOS DE NEWSLETTER
                                                    .line
                                                    .cell.one APP
                                                    .line
                                                    .cell.one CONTAS DE EDITORES
                                                    .line
                                                    .cell.one SETUP
                                                    .line
                                                    .cell.one FEE MENSAL
                                                    .cell.cell--especial.hidden-xs
                                                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                                    .cell.cell--title STANDARD
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes1.png")
                                                        | 100.000
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes1.png")
                                                        | 10.000
                                                    .line
                                                    .cell
                                                        img.hidden-xs(src="img/planos/no1.png") 
                                                        | -----------
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes1.png")
                                                        | 5 CONTAS
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes1.png")
                                                        | R$4.999,99
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes1.png")
                                                        | R$999,00
                                                    .cell.cell--especial.hidden-xs
                                                        button.button.button--color.button--color-esp1(data-target="1", ng-click="planChange('standart')") Contratar
                                                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                                    .cell.cell--title BUSINESS 
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes2.png")
                                                        | 300.000
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes2.png")
                                                        | 50.000
                                                    .line
                                                    .cell
                                                        img.hidden-xs(src="img/planos/no2.png") 
                                                        | -----------
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes2.png")
                                                        | 15 CONTAS
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes2.png")
                                                        | R$4.999,99
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes2.png")
                                                        | R$1.499,00
                                                    .cell.cell--especial.hidden-xs
                                                        button.button.button--color.button--color-esp2(data-target="2", ng-click="planChange('business')") Contratar
                                                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                                    .cell.cell--title ENTERPRISE
                                                        span.detail (sob demanda)
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes3.png")
                                                        | 1.000.000
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes3.png")
                                                        | 250.000
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes3.png")
                                                        | IOS/ANDROID
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes3.png")
                                                        | 100 CONTAS
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes3.png")
                                                        | Sob consulta
                                                    .line
                                                    .cell 
                                                        img.hidden-xs(src="img/planos/yes3.png")
                                                        | Sob consulta
                                                    .cell.cell--especial.hidden-xs
                                                        button.button.button--color.button--color-esp3(data-target="3", ng-click="planChange('enterprise')") Contratar
            section.contact
                .contact__bg
                    .title.title--section
                        .container
                            .row
                                .col-md-12 
                                    h1 Contato
                    #mapa
                    .container.contact__content
                        .row
                            .col-lg-6.col-md-6.col-sm-6
                                .row
                                    .col-lg-12.col-md-12.col-sm-7.col-xs-12
                                        p.address
                                            | AV. DR. CARDOSO DE MELO, Nº 1.184 – CONJUNTO 12
                                            br
                                            | SÃO PAULO, 04548 - 004
                                            br
                                            br
                                            a(href="mailto:contenthub.mr.pt@mediaresponse.com") contenthub.mr.pt@mediaresponse.com
                                            br
                                            | +55 (11) 3178-2500
                                .row.menu-footer.media
                                    .col-lg-6.col-md-6.col-sm-7
                                        span contenthub na rede:
                                        a(href="https://www.facebook.com/contenthubcms", target="_blank")
                                            img(src="img/facebook.png")
                                        a(href="https://twitter.com/contenthubcms", target="_blank")
                                            img(src="img/twitter.png")
                                        a(href="https://www.linkedin.com/company/media-response-brazil", target="_blank")
                                            img(src="img/in.png")
                                .row.menu-footer
                                    .col-lg-6.col-md-6.col-sm-7
                                        span uma empresa do grupo:
                                        img(src="img/media-logo2.png")
                                    .col-lg-6.col-md-6.col-sm-5.hidden-xs
                                        ul
                                            //li
                                                a(href="#") FAQ
                                            li
                                                a(href="#") TERMOS DE USO
                                            li
                                                a(href="#") POLÍTICA DE PRIVACIDADE
                                            //li
                                                a(href="#") ZEN DESK
                            .col-lg-5.col-lg-offset-1.col-md-5.col-md-offset-1.col-sm-5.col-sm-offset-1
                                .form-content    
                                    h1 Formulário de contato

                                    .alert.alert-danger(ng-show="formContact.name.$invalid && formContact.name.$dirty") Complete os campos
                                    .alert.alert-danger(ng-show="formContact.email.$invalid && formContact.email.$dirty") Complete os campos com dados válidos
                                    .alert.alert-success(ng-show="f1success == true") Enviado com sucesso

                                    
                                    form.form(name="formContact")
                                        input(class="form-control", ng-class="{'form__item--error': formContact.name.$invalid && formContact.name.$dirty }", type="text", placeholder="nome *", name="name", ng-model="contact.name", ng-required="true")
                                        input(class="form-control", ng-class="{'form__item--error': formContact.email.$invalid && formContact.email.$dirty }", type="email", placeholder="email *", name="email", ng-model="contact.email", ng-required="true")
                                        input(class="form-control", ng-class="{'form__item--error': formContact.phone.$invalid && formContact.phone.$dirty }", type="text", placeholder="telefone *", name="phone", ng-model="contact.phone", ng-required="true")
                                        input(class="form-control", ng-class="{'form__item--error': formContact.company.$invalid && formContact.company.$dirty }", type="text", placeholder="empresa", name="company", ng-model="contact.company", ng-required="false")
                                        input(class="form-control", ng-class="{'form__item--error': formContact.domain.$invalid && formContact.domain.$dirty }", type="text", placeholder="domínio", name="domain", ng-model="contact.domain", ng-required="false")
                                        textarea(class="form-control", ng-class="{'form__item--error': formContact.message.$invalid && formContact.message.$dirty }", placeholder="mensagem", name="message", ng-model="contact.message", ng-required="false")
                                        button(class="btn", ng-disabled="formContact.$invalid", ng-click="sendContact(contact)") enviar
                        
                    .copy © 2016 - ALL RIGHTS RESERVED TO MEDIA RESPONSE GROUP AND COMPANIES


        script(src='components/jquery/dist/jquery.min.js')
        script(src='components/jquery-ui/jquery-ui.min.js')
        script(src='components/angular/angular.min.js')
        script(src='js/app.js')
        script(src='js/maps.js')
        script(src='js/controller/controller.js')
        script(src='components/bootstrap/dist/js/bootstrap.min.js')
        script(src='components/owl.carousel/dist/owl.carousel.min.js')
        script(src='components/vivus/dist/vivus.min.js')
        script(src='js/main.js')